{% extends "base.html" %}
{% load static %}
{% load static %}
{% block title %}Editing Tags For - {{name}}{% endblock %}
{% block content %}
<div class="main-content">
    <form method="POST" enctype="multipart/form-data">
        <h2>Editing Tags For - {{name}}</h2>
        {{ edit_form.media }}
        {{ edit_form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Save">
    </form>
</div>
{% endblock %}
{% block footer %}
<script src=" {% static 'js/base.js' %}"></script>
{% endblock footer %}