{% extends "base.html" %}
{% load static %}
{% block title %} {{ product.name }} - Images{% endblock %}
{% block content %}
<a class='add-new' href="{% url 'add_image' product_id=product.id %}">Add Image</a>
<h2>{{ product.name }} Images</h2>
<div class="main-content">
    {% for image in images %}
    <div class='image'>
        <div class="product-image">
            <img src="/media/{{ image.photo }}"/>
        </div>
        <div class="action-links">
            <a href="{% url 'delete_image' product_id=product.id image_id=image.id %}">Remove</a>
        </div>
    </div>
    {% empty %}
        <p>This product has no images yet.<p>
    {% endfor %}
</div>

{% endblock %}

{% block footer %}
<script src=" {% static 'js/base.js' %}"></script>
{% endblock footer %}