{% extends "base.html" %}
{% block title %} {{ product.name }}| Info{% endblock %}
{% block content %}
<h1>{{ product.name }} Software Information</h1>
<a href="{% url 'edit_software_info' info_id=software_info.id product_info=prodct.id %}">Edit Info</a>
<div class="software_info">
    <h2 class="info"> Software Info</h2>
    <p class="info"> OS Version: {{ software_info.os_version }}</p>
    <p class="info"> OS Name: {{ software_info.os_name }}</p>
    <p class="info"> OS Family: {{ software_info.os_family}}</p>
    <p class="info"> OS UI: {{ software_info.os_ui }}</p>
    <p class="info"> Other Info: {{ software_info.other_info }}</p>
</div>

{% endblock %}