{% extends "base.html" %}
{% load static %}
{% load blog_tags %}
{% load thumbnail %}
{% block title %}
    {% if title != "notifications" %}
        Notifications | {{title|capfirst}}
    {% else %}
        {{title|capfirst}}
    {% endif %}
{% endblock %}
{% block content %}
{% include "editors/action-header.html" %}
<div id="notifications-list" class="notifications feed-contents">
    <div class="feed-title">
        <div class="section-title">{{title|capfirst}}</div>
        <i class="iconly-Arrow-Right-Circle icli"></i>
    </div>
    {% include "editors/list-actions.html" %}
</div>

<div class="sidebar-content">
    <div class="stats">
      <h3 class="stats-title">My Stats</h3>
      <div class="stats-today">
        <h4 class="today">Impressions</h4>
        <p class="today-stats">
          <span class="iconly-Show icbo"></span>{{ request.user|get_views }} View{{ request.user|get_views| pluralize }}
        </p>
      </div>
      <div class="stats-month">
        <h4 class="month">Engagements</h4>
        <p class="month-stats">
          <span class="iconly-User2 icbo"></span>{{ request.user|get_comments }} Comment{{ request.user|get_comments | pluralize }}
        </p>
      </div>
      <a href=" {% url 'editors:user_post_list' %}" class="go-to-articles"
        >See your articles performance
        <span class="iconly-Arrow-Right icli"></span>
      </a>
    </div>
    <div class="topics">
      <h2 class="sidebar-title">Discover Topics</h2>
      <ul class="topic-list">
        {% show_most_common_tags %}
      </ul>
    </div>
</div>
{% endblock content%}
{% block domready %}
    const url = '{% url "editors:notification_action" %}';
    let options = {
    method: 'POST',
    headers: {'X-CSRFToken': csrftoken},
    mode: 'same-origin'
    }

    // Notification-actions
    actionBtns = document.querySelectorAll('.three-dots-1')
    deleteBtns = document.querySelectorAll('a.delete-1')
    followBtns = document.querySelectorAll('a.follow-1')
    markBtns = document.querySelectorAll('a.marked-1')
    actionModals = document.querySelectorAll('.more-options-1')

    if (actionBtns != null && actionModals != null) {
        actionBtns.forEach((actionBtn,index)=>{
            actionBtn.addEventListener('click', (e) => {
                modal = actionModals[index]
                if (modal.style.display === 'flex') {
                    modal.style.setProperty('display', 'none')
                    actionBtn.style.backgroundColor = 'transparent'
                }
                else {
                    try{
                        actionModals.forEach((actionModal,index)=>{
                            actionBtns[index].style.backgroundColor = 'transparent'
                            actionModal.style.display = 'none'
                        })
                    }
                    finally{
                        modal.style.setProperty('display', 'flex')
                        actionBtn.style.backgroundColor = 'rgba(174, 173, 173, 0.149)'
                    }
                }
            })
        })
    }

    //Delete-action
    if (deleteBtns != null) {
        deleteBtns.forEach((actionBtn,index)=>{
            actionBtn.addEventListener('click', (e) => {
                e.preventDefault();
                notification = document.querySelector(`#action-${actionBtn.dataset.id}`)
                actionBtn.style.pointerEvents = "none";

                // add request body
                let formData = new FormData();
                formData.append('id', actionBtn.dataset.id);
                formData.append('action', actionBtn.dataset.action);
                formData.append('user', actionBtn.dataset.user);
                options['body'] = formData;

                // send HTTP request
                fetch(url, options)
                .then(response => response.json())
                .then(data => {
                    if (data['status'] === 'deleted'){
                        notification.remove()
                    }
                })
            })
        })
    }

    //Follow-action
    if (followBtns != null) {
        followBtns.forEach((followBtn,index)=>{
            followBtn.addEventListener('click', (e) => {
                e.preventDefault();
                followBtn.style.pointerEvents = "none";
                follow = followBtn.querySelector('.detail-title')
                modal = document.querySelector(`#modal-${followBtn.dataset.id}`)
                follow_text = followBtn.querySelector('.detail-text')
                follow.textContent = "Loading..."

                // add request body
                let formData = new FormData();
                formData.append('id', followBtn.dataset.id);
                formData.append('action', followBtn.dataset.action);
                formData.append('user', followBtn.dataset.user);
                options['body'] = formData;

                // send HTTP request
                fetch(url, options)
                .then(response => response.json())
                .then(data => {
                    if (data['status'] === 'unfollowed'){
                        followBtn.dataset.action = data['action']
                        follow.textContent = `${data['action']}`
                        follow_text.textContent = `Start seeing ${data['user']}'s updates again`
                    }
                    else if(data['status'] === 'followed'){
                        followBtn.dataset.action = data['action']
                        follow.textContent = `${data['action']}`
                        follow_text.textContent = `Stop seeing ${data['user']}'s updates`
                    }
                })
                followBtn.style.pointerEvents = "auto";
                modal.style.display = "none";
            })
        })
    }

    //Mark-action
    if (markBtns != null) {
        markBtns.forEach((markBtn,index)=>{
            markBtn.addEventListener('click', (e) => {
                e.preventDefault();
                markBtn.style.pointerEvents = "none";
                notification = document.querySelector(`#action-${markBtn.dataset.id}`)
                mark_text = markBtn.querySelector('.detail-text')
                modal = notification.querySelector(`#modal-${markBtn.dataset.id}`)

                // add request body
                let formData = new FormData();
                formData.append('id', markBtn.dataset.id);
                formData.append('action', markBtn.dataset.action);
                formData.append('user', markBtn.dataset.user);
                options['body'] = formData;

                // send HTTP request
                fetch(url, options)
                .then(response => response.json())
                .then(data => {
                    if (data['status'] === 'unread'){
                        markBtn.dataset.action = data['action']
                        notification.style.backgroundColor = 'transparent';
                        mark_text.textContent = 'Mark as unread'
                    }
                    else if(data['status'] === 'read'){
                        markBtn.dataset.action = data['action']
                        notification.style.backgroundColor = 'var(--unread-color)';
                        mark_text.textContent = 'Mark as read'
                    }
                })
                markBtn.style.pointerEvents = "auto";
                modal.style.display = "none";
            })
        })
    }
let page = 1;
let emptyPage = false;
let blockRequest = false;
window.addEventListener('scroll', function(e) {
        let margin = document.body.clientHeight - window.innerHeight - 200;
        if(window.pageYOffset > margin && !emptyPage && !blockRequest) {
            blockRequest = true;
            page += 1;
            fetch('?action_only=1&page=' + page)
            .then(response => response.text())
            .then(html => {
                if (html === '') {
                    emptyPage = true;
                }
                else {
                    let notificatiosList = document.getElementById('notifications-list');
                    notificatiosList.insertAdjacentHTML('beforeEnd', html);
                    blockRequest = false;
                    const url = '{% url "editors:notification_action" %}';
                    let options = {
                        method: 'POST',
                        headers: {'X-CSRFToken': csrftoken},
                        mode: 'same-origin'
                    }
                    // Notification-actions
                    actionBtnsInner = document.querySelectorAll(`.three-dots-${page}`)
                    deleteBtnsInner = document.querySelectorAll(`a.delete-${page}`)
                    followBtnsInner = document.querySelectorAll(`a.follow-${page}`)
                    markBtnsInner = document.querySelectorAll(`a.marked-${page}`)
                    actionModalsInner = document.querySelectorAll(`.more-options-${page}`)

                    if (actionBtnsInner != null && actionModals != null) {
                        actionBtnsInner.forEach((actionBtn,index)=>{
                            actionBtn.addEventListener('click', (e) => {
                                modal = document.querySelector(`#modal-${actionBtn.dataset.number}`)
                                if (modal.style.display === 'flex') {
                                    modal.style.setProperty('display', 'none')
                                    actionBtn.style.backgroundColor = 'transparent'
                                }
                                else {
                                    try{
                                        actionModalsInner.forEach((actionModal,index)=>{
                                            /*openactionBtn = actionModal.querySelector(`.three-dots-${page}`)
                                            openactionBtn.style.backgroundColor = 'transparent'*/
                                            actionModal.style.display = 'none'
                                        })
                                    }
                                    finally{
                                        modal.style.setProperty('display', 'flex')
                                        actionBtn.style.backgroundColor = 'rgba(174, 173, 173, 0.149)'
                                    }
                                }
                            })
                        })
                    }

                    //Delete-action
                    if (deleteBtnsInner != null) {
                        deleteBtnsInner.forEach((actionBtn,index)=>{
                            actionBtn.addEventListener('click', (e) => {
                                e.preventDefault();
                                actionBtn.style.pointerEvents = "none";
                                notification = document.querySelector(`#action-${actionBtn.dataset.id}`)

                                // add request body
                                let formData = new FormData();
                                formData.append('id', actionBtn.dataset.id);
                                formData.append('action', actionBtn.dataset.action);
                                formData.append('user', actionBtn.dataset.user);
                                options['body'] = formData;

                                // send HTTP request
                                fetch(url, options)
                                .then(response => response.json())
                                .then(data => {
                                    if (data['status'] === 'deleted'){
                                        notification.remove()
                                    }
                                })
                            })
                        })
                    }

                    //Follow-action
                    if (followBtnsInner != null) {
                        followBtnsInner.forEach((followBtn,index)=>{
                            followBtn.addEventListener('click', (e) => {
                                e.preventDefault();
                                followBtn.style.pointerEvents = "none";
                                follow = followBtn.querySelector('.detail-title')
                                modal = document.querySelector(`#modal-${followBtn.dataset.id}`)
                                follow_text = followBtn.querySelector('.detail-text')
                                follow.textContent = "Loading..."

                                // add request body
                                let formData = new FormData();
                                formData.append('id', followBtn.dataset.id);
                                formData.append('action', followBtn.dataset.action);
                                formData.append('user', followBtn.dataset.user);
                                options['body'] = formData;

                                // send HTTP request
                                fetch(url, options)
                                .then(response => response.json())
                                .then(data => {
                                    if (data['status'] === 'unfollowed'){
                                        followBtn.dataset.action = data['action']
                                        follow.textContent = `${data['action']}`
                                        follow_text.textContent = `Start seeing ${data['user']}'s updates again`
                                    }
                                    else if(data['status'] === 'followed'){
                                        followBtn.dataset.action = data['action']
                                        follow.textContent = `${data['action']}`
                                        follow_text.textContent = `Stop seeing ${data['user']}'s updates`
                                    }
                                })
                                followBtn.style.pointerEvents = "auto";
                                modal.style.display = "none";
                            })
                        })
                    }

                    //Mark-action
                    if (markBtnsInner != null) {
                        markBtnsInner.forEach((markBtn,index)=>{
                            markBtn.addEventListener('click', (e) => {
                                e.preventDefault();
                                markBtn.style.pointerEvents = "none";
                                notification = document.querySelector(`#action-${markBtn.dataset.id}`)
                                modal = notification.querySelector(`#modal-${markBtn.dataset.id}`)
                                mark_text = markBtn.querySelector('.detail-text')

                                // add request body
                                let formData = new FormData();
                                formData.append('id', markBtn.dataset.id);
                                formData.append('action', markBtn.dataset.action);
                                formData.append('user', markBtn.dataset.user);
                                options['body'] = formData;

                                // send HTTP request
                                fetch(url, options)
                                .then(response => response.json())
                                .then(data => {
                                    if (data['status'] === 'unread'){
                                        markBtn.dataset.action = data['action']
                                        notification.style.backgroundColor = 'transparent';
                                        mark_text.textContent = 'Mark as unread'
                                    }
                                    else if(data['status'] === 'read'){
                                        markBtn.dataset.action = data['action']
                                        notification.style.backgroundColor = 'var(--unread-color)';
                                        mark_text.textContent = 'Mark as read'
                                    }
                                })
                                markBtn.style.pointerEvents = "auto";
                                modal.style.display = "none";
                            })
                        })
                    }
                }
            })

        }
    });
    // Launch scroll event
    const scrollEvent = new Event('scroll');
    window.dispatchEvent(scrollEvent);
{% endblock domready%}