{% extends "base.html" %}
{% load static %}
{% load blog_tags %}
{% load thumbnail %}
{% block title %}Opas-Home{% endblock %}

{% block content %}
  <div class="feeds-header">
      <div class="header-content">
          <h2 class="site-title">Articles</h2>
          <div class="header-links">
              <a href="" title="Feed" class="header-link active">Feeds</a>
              <a href="" title="For Your" class="header-link">Interest</a>
              <a href="" title="Trending" class="header-link">Trending</a>
              <a href="" title="Recent" class="header-link">Recent</a>
              <a href="" title="Topics" class="header-link">Topics</a>
          </div>
      </div>
  </div>
  <div class="article-feeds feed-contents">
      <div class="feed-title">
          <div class="section-title">Trending</div>
          <i class="iconly-Arrow-Right-Circle icli"></i>
          <hr size="1" />
      </div>
      {% for post in most_viewed %}
         <div class="article-wrapper">
          <div class="article-info">
              <div class="profile-wrapper">
                {% if post.author.profile.photo %}
                  <img src="{% thumbnail post.author.profile.photo 300x0 %}" alt="Profile">
                {% else %}
                  <img src="https://eu.ui-avatars.com/api/?background=08b86f&name={{post.author.first_name}}+{{post.author.last_name}}&size=250&color=fff" alt="Profile">
                {% endif %}
              </div>
              <a href="{% url 'profile' username=post.author%}" class="author">{{post.author.first_name}} {{post.author.last_name}}</a>
              <span class="read-time posted"><span class="dot">&#183;</span> {{post.body|read_time}} </span>
              <span class="posted right"><i class="iconly-Time-Circle icli"></i> <span class="date">{{post.created|date:"M"}} {{post.created.day}}, {{post.created|date:"Y"}} </span></span>
          </div>
          <div class="summery-content">
              <h2 class="article-title">
                  <a href="{{post.get_absolute_url}}" title="Article Title" class="article-title-link"> {{post.title}} </a>
              </h2>
              <div class="article-summery">
                  <div id="mobile-image">
                      <img id="" src="{% thumbnail post.cover 300x0 %}" alt="Post-Image">
                  </div>
                  <p class="summery-text">
                      {{post.body|striptags|safe|truncatechars:300 }}
                  </p>
              </div>
              <div class="article-footer">
                  <div class="article-tags">
                      <a href="#" class="tag">Javascript</a>
                      <a href="#" class="tag">Programming</a>
                      <a href="#" class="tag">Recent</a>
                  </div>
                  <div class="article-actions">
                      <a class="save {% check_saved post.id request.user%}" href="" data-id="{{ post.id }}" data-action="{% check_saved post.id request.user%}" >
                        <span>{% check_saved post.id request.user%}</span>
                      </a>
                      <a title="Share" href="">
                          <span>Share</span>
                          <i class="iconly-Send icli"> </i>
                      </a>
                      <a title="Share" href="">
                          <span>Report</span>
                          <i class="iconly-Info-Circle icli"> </i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
      <a href="" class="get-more">Get more articles based on your interest</a>
  </div>
  {% get_most_commented_posts as most_commented_posts %}
  <div class="article-feeds feed-contents">
      <div class="feed-title">
          <div class="section-title">Most Engagements</div>
          <i class="iconly-Arrow-Right-Circle icli"></i>
          <hr size="1" />
      </div>
      {% for post in most_commented_posts %}
        <div class="article-wrapper">
          <div class="article-info">
              <div class="profile-wrapper">
                {% if post.author.profile.photo %}
                  <img src="{% thumbnail post.author.profile.photo 300x0 %}" alt="Profile">
                {% else %}
                  <img src="https://eu.ui-avatars.com/api/?background=08b86f&name={{post.author.first_name}}+{{post.author.last_name}}&size=250&color=fff" alt="Profile">
                {% endif %}
              </div>
              <a href="{% url 'profile' username=post.author%}" class="author">{{post.author.first_name}} {{post.author.last_name}}</a>
              <span class="read-time posted"><span class="dot">&#183;</span> {{post.body|read_time}} </span>
              <span class="posted right"><i class="iconly-Time-Circle icli"></i> <span class="date">{{post.created|date:"M"}} {{post.created.day}}, {{post.created|date:"Y"}} </span></span>
          </div>
          <div class="summery-content">
              <h2 class="article-title">
                  <a href="{{post.get_absolute_url}}" title="Article Title" class="article-title-link"> {{post.title}} </a>
              </h2>
              <div class="article-summery">
                  <div id="mobile-image">
                      <img id="" src="{% thumbnail post.cover 300x0 %}" alt="Post-Image">
                  </div>
                  <p class="summery-text">
                      {{post.body|striptags|safe|truncatechars:300 }}
                  </p>
              </div>
              <div class="article-footer">
                  <div class="article-tags">
                      <a href="#" class="tag">Javascript</a>
                      <a href="#" class="tag">Programming</a>
                      <a href="#" class="tag">Recent</a>
                  </div>
                <div class="article-actions">
                    <a class="save {% check_saved post.id request.user%}" href="" data-id="{{ post.id }}" data-action="{% check_saved post.id request.user%}" >
                        <span>{% check_saved post.id request.user%}</span>
                    </a>
                    <a title="Share" href="">
                          <span>Share</span>
                          <i class="iconly-Send icli"> </i>
                    </a>
                    <a title="Share" href="">
                          <span>Report</span>
                          <i class="iconly-Info-Circle icli"> </i>
                    </a>
                </div>
              </div>
          </div>
      </div>
    {% endfor %}
      <a href="" class="get-more">Get all trending articles now</a>
  </div>
  <div class="article-feeds feed-contents">
      <div class="feed-title">
          <div class="section-title">Recent articles</div>
          <i class="iconly-Arrow-Right-Circle icli"></i>
          <hr size="1" />
      </div>
      {% for post in recently_added %}
        <div class="article-wrapper">
            <div class="article-info">
                <div class="profile-wrapper">
                {% if post.author.profile.photo %}
                    <img src="{% thumbnail post.author.profile.photo 300x0 %}" alt="Profile">
                {% else %}
                    <img src="https://eu.ui-avatars.com/api/?background=08b86f&name={{post.author.first_name}}+{{post.author.last_name}}&size=250&color=fff" alt="Profile">
                {% endif %}
                </div>
                <a href="{% url 'profile' username=post.author%}" class="author">{{post.author.first_name}} {{post.author.last_name}}</a>
                <span class="read-time posted"><span class="dot">&#183;</span> {{post.body|read_time}} </span>
                <span class="posted right"><i class="iconly-Time-Circle icli"></i> <span class="date">{{post.created|date:"M"}} {{post.created.day}}, {{post.created|date:"Y"}} </span></span>
            </div>
            <div class="summery-content">
                <h2 class="article-title">
                    <a href="{{post.get_absolute_url}}" title="Article Title" class="article-title-link"> {{post.title}} </a>
                </h2>
                <div class="article-summery">
                    <div id="mobile-image">
                        <img id="" src="{% thumbnail post.cover 300x0 %}" alt="Post-Image">
                    </div>
                    <p class="summery-text">
                        {{post.body|striptags|safe|truncatechars:300 }}
                    </p>
                </div>
                <div class="article-footer">
                    <div class="article-tags">
                        <a href="#" class="tag">Javascript</a>
                        <a href="#" class="tag">Programming</a>
                        <a href="#" class="tag">Recent</a>
                    </div>
                    <div class="article-actions">
                        <a class="save {% check_saved post.id request.user%}" href="" data-id="{{ post.id }}" data-action="{% check_saved post.id request.user%}" >
                            <span>{% check_saved post.id request.user%}</span>
                        </a>
                        <a title="Share" href="">
                            <span>Share</span>
                            <i class="iconly-Send icli"> </i>
                        </a>
                        <a title="Share" href="">
                            <span>Report</span>
                            <i class="iconly-Info-Circle icli"> </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
      <a href="" class="get-more">Get all Recent articles now</a>
  </div>
  <div class="article-feeds feed-contents">
      <div class="feed-title">
          <div class="section-title">For You</div>
          <i class="iconly-Arrow-Right-Circle icli"></i>
          <hr size="1" />
      </div>
      <div class="article-wrapper">
          <div class="article-info">
              <div class="profile-wrapper">
                  <img src="img/pro.jpg" alt="Profile">
              </div>
              <a href="#" class="author">Zachariah Ochieng</a>
              <span class="read-time posted"><span class="dot">&#183;</span> 9 min read </span>
              <span class="posted right"><i class="iconly-Time-Circle icli"></i> <span class="date">Jul 5</span></span>
          </div>
          <div class="summery-content">
              <h2 class="article-title">
                  <a href="" title="Article Title" class="article-title-link">This 40-Day Challenge can land you into MAANG!!</a>
              </h2>
              <div class="article-summery">
                  <div id="mobile-image">
                      <img id="" src="img/pexels-evie-shaffer-4004374.jpg" title="Someone's Image" alt="">
                  </div>
                  <p class="summery-text">
                      We all know coding interview prep feels distressing.
                      No matter how much you prepare, there’s something you forget to practice.
                      It’s completely normal to feel this. But how can we overcome our emotions to ensure we...
                  </p>
              </div>
              <div class="article-footer">
                  <div class="article-tags">
                      <a href="#" class="tag">Javascript</a>
                      <a href="#" class="tag">Programming</a>
                      <a href="#" class="tag">Recent</a>
                  </div>
                  <div class="article-actions">
                      <a title="Save" href="">
                          <span>Save</span>
                          <i class="iconly-Bookmark icli"></i>
                      </a>
                      <a title="Share" href="">
                          <span>Share</span>
                          <i class="iconly-Send icli"> </i>
                      </a>
                      <a title="Share" href="">
                          <span>Report</span>
                          <i class="iconly-Info-Circle icli"> </i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
      <div class="article-wrapper">
          <div class="article-info">
              <div class="profile-wrapper">
                  <img src="img/pro.jpg" alt="Profile">
              </div>
              <a href="#" class="author">Fredrick Ochieng</a>
              <span class="read-time posted"><span class="dot">&#183;</span> 9 min read </span>
              <span class="posted right"><i class="iconly-Time-Circle icli"></i> <span class="date">Jul 5</span></span>
          </div>
          <div class="summery-content">
              <h2 class="article-title">
                  <a href="" title="Article Title" class="article-title-link">This 40-Day Challenge can land you into MAANG!!</a>
              </h2>
              <div class="article-summery">
                  <div id="mobile-image">
                      <img id="" src="img/pexels-evie-shaffer-4004374.jpg" title="Someone's Image" alt="">
                  </div>
                  <p class="summery-text">
                      We all know coding interview prep feels distressing.
                      No matter how much you prepare, there’s something you forget to practice.
                      It’s completely normal to feel this. But how can we overcome our emotions to ensure we...
                  </p>
              </div>

              <div class="article-footer">
                  <div class="article-tags">
                      <a href="#" class="tag">Javascript</a>
                      <a href="#" class="tag">Programming</a>
                      <a href="#" class="tag">Recent</a>
                  </div>
                  <div class="article-actions">
                      <a title="Save" href="">
                          <span>Save</span>
                          <i class="iconly-Bookmark icli"></i>
                      </a>
                      <a title="Share" href="">
                          <span>Share</span>
                          <i class="iconly-Send icli"> </i>
                      </a>
                      <a title="Share" href="">
                          <span>Report</span>
                          <i class="iconly-Info-Circle icli"> </i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
      <div class="article-wrapper">
          <div class="article-info">
              <div class="profile-wrapper">
                  <img src="img/pro.jpg" alt="Profile">
              </div>
              <a href="#" class="author">Fredrick Ochieng</a>
              <span class="read-time posted"><span class="dot">&#183;</span> 9 min read </span>
              <span class="posted right"><i class="iconly-Time-Circle icli"></i> <span class="date">Jul 5</span></span>
          </div>
          <div class="summery-content">
              <h2 class="article-title">
                  <a href="" title="Article Title" class="article-title-link">This 40-Day Challenge can land you into MAANG!!</a>
              </h2>
              <div class="article-summery">
                  <div id="mobile-image">
                      <img id="" src="img/pexels-evie-shaffer-4004374.jpg" title="Someone's Image" alt="">
                  </div>
                  <p class="summery-text">
                      We all know coding interview prep feels distressing.
                      No matter how much you prepare, there’s something you forget to practice.
                      It’s completely normal to feel this. But how can we overcome our emotions to ensure we...
                  </p>
              </div>
              <div class="article-footer">
                  <div class="article-tags">
                      <a href="#" class="tag">Javascript</a>
                      <a href="#" class="tag">Programming</a>
                      <a href="#" class="tag">Recent</a>
                  </div>
                  <div class="article-actions">
                      <a title="Save" href="">
                          <span>Save</span>
                          <i class="iconly-Bookmark icli"></i>
                      </a>
                      <a title="Share" href="">
                          <span>Share</span>
                          <i class="iconly-Send icli"> </i>
                      </a>
                      <a title="Share" href="">
                          <span>Report</span>
                          <i class="iconly-Info-Circle icli"> </i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
      <div class="article-wrapper">
          <div class="article-info">
              <div class="profile-wrapper">
                  <img src="img/pro.jpg" alt="Profile">
              </div>
              <a href="#" class="author">Fredrick Ochieng</a>
              <span class="read-time posted"><span class="dot">&#183;</span> 9 min read </span>
              <span class="posted right"><i class="iconly-Time-Circle icli"></i> <span class="date">Jul 5</span></span>
          </div>
          <div class="summery-content">
              <h2 class="article-title">
                  <a href="" title="Article Title" class="article-title-link">This 40-Day Challenge can land you into MAANG!!</a>
              </h2>
              <div class="article-summery">
                  <div id="mobile-image">
                      <img id="" src="img/pexels-evie-shaffer-4004374.jpg" title="Someone's Image" alt="">
                  </div>
                  <p class="summery-text">
                      We all know coding interview prep feels distressing.
                      No matter how much you prepare, there’s something you forget to practice.
                      It’s completely normal to feel this. But how can we overcome our emotions to ensure we...
                  </p>
              </div>
              <div class="article-footer">
                  <div class="article-tags">
                      <a href="#" class="tag">Javascript</a>
                      <a href="#" class="tag">Programming</a>
                      <a href="#" class="tag">Recent</a>
                  </div>
                  <div class="article-actions">
                      <a title="Save" href="">
                          <span>Save</span>
                          <i class="iconly-Bookmark icli"></i>
                      </a>
                      <a title="Share" href="">
                          <span>Share</span>
                          <i class="iconly-Send icli"> </i>
                      </a>
                      <a title="Share" href="">
                          <span>Report</span>
                          <i class="iconly-Info-Circle icli"> </i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
      <div class="article-wrapper">
          <div class="article-info">
              <div class="profile-wrapper">
                  <img src="img/pro.jpg" alt="Profile">
              </div>
              <a href="#" class="author">Fredrick Ochieng</a>
              <span class="read-time posted"><span class="dot">&#183;</span> 9 min read </span>
              <span class="posted right"><i class="iconly-Time-Circle icli"></i> <span class="date">Jul 5</span></span>
          </div>
          <div class="summery-content">
              <h2 class="article-title">
                  <a href="" title="Article Title" class="article-title-link">This 40-Day Challenge can land you into MAANG!!</a>
              </h2>
              <div class="article-summery">
                  <div id="mobile-image">
                      <img id="" src="img/pexels-evie-shaffer-4004374.jpg" title="Someone's Image" alt="">
                  </div>
                  <p class="summery-text">
                      We all know coding interview prep feels distressing.
                      No matter how much you prepare, there’s something you forget to practice.
                      It’s completely normal to feel this. But how can we overcome our emotions to ensure we...
                  </p>
              </div>
              <div class="article-footer">
                  <div class="article-tags">
                      <a href="#" class="tag">Javascript</a>
                      <a href="#" class="tag">Programming</a>
                      <a href="#" class="tag">Recent</a>
                  </div>
                  <div class="article-actions">
                      <a title="Save" href="">
                          <span>Save</span>
                          <i class="iconly-Bookmark icli"></i>
                      </a>
                      <a title="Share" href="">
                          <span>Share</span>
                          <i class="iconly-Send icli"> </i>
                      </a>
                      <a title="Share" href="">
                          <span>Report</span>
                          <i class="iconly-Info-Circle icli"> </i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
      <a href="" class="get-more">Get articles with most engagements</a>
  </div>
  <div class="sidebar-content">
    <div class="stats">
        <h3 class="stats-title">My Stats</h3>
        <div class="stats-today">
          <h4 class="today">Impressions</h4>
          <p class="today-stats">
            <span class="iconly-Show icbo"></span>{{ views }} View{{ views | pluralize }}
          </p>
        </div>
        <div class="stats-month">
          <h4 class="month">Engagements</h4>
          <p class="month-stats">
            <span class="iconly-User2 icbo"></span>{{ comments }} Comment{{ comments | pluralize }}
          </p>
        </div>
        <a href=" {% url 'editors:user_post_list' %}" class="go-to-articles"
          >See your articles performance
          <span class="iconly-Arrow-Right icli"></span>
        </a>
    </div>
    <div class="topics">
        <h2 class="sidebar-title">Discover Topics</h2>
        <ul class="topic-list">
            <li> <a href="">Technology</a></li>
            <li><a href="">Science</a></li>
            <li><a href="">Web</a></li>
            <li><a href="">5G</a></li>
            <li><a href="">Food</a></li>
            <li><a href="">Health Care</a></li>
            <li><a href="">Metaverse</a></li>
            <li><a href="">Business</a></li>
            <li><a href="">Web</a></li>
            <li><a href="">5G</a></li>
            <li><a href="">Food</a></li>
            <li><a href="">Health & Fitness</a></li>
            <li><a href="">Personal Finance</a></li>
            <li><a href="">Self Improvement</a></li>
        </ul>
    </div>
</div>
{% endblock %}
{% block domready %}
    const url = '{% url "editors:save" %}';
    let options = {
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        mode: 'same-origin'
    }
    saveButtons = document.querySelectorAll('a.save')
    saveButtons.forEach(saveButton =>{
        saveButton.addEventListener('click', function(e){
            e.preventDefault();

            // add request body
            let formData = new FormData();
            formData.append('id', saveButton.dataset.id);
            formData.append('action', saveButton.dataset.action);
            options['body'] = formData;

            // send HTTP request
            fetch(url, options).then(response => response.json()).then(data => {
                if (data['status'] === 'ok'){
                    let previousAction = saveButton.dataset.action;

                    // toggle button text and data-action
                    let action = previousAction === 'Save' ? 'Remove' : 'Save';
                    saveButton.dataset.action = action;
                    saveButton.classList.add("Remove")
                    saveButton.innerHTML = `<span>${action}</span>`;

                    // update save count
                    let saveCount = document.querySelector('span.count .total');
                    let totalSaves = parseInt(saveCount.innerHTML);
                    saveCount.innerHTML = previousAction === 'save' ? totalSaves + 1 :totalSaves - 1;
                }
            });
        });
    });
{% endblock %}

