{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="center-items">
    <div class="dashboard-card" style="background-image: url({% static 'img/back.jpg' %});">
      <h4 class="title">Create and Share Extraordinary Content</h4>
      <p class="card-text">
        Free and open source platform for articles, Newsletters and digital
        products information.
      </p>
      <div class="card-links">
        <span class="iconlyBulk-Show"></span>
        <a href="" class="explore">Explore More</a>
        <a href="" class="top">Top Writers</a>
      </div>
    </div>
    <div class="top-newsletters">
      <div class="title-card">
        <h3 class="top-newsletters-title">Top Newsletters</h3>
        <a href=" {% url 'top_newsletters' %} " class="view-all"
          >View all<span class="iconly-Arrow-Right icli"></span
        ></a>
      </div>
      <div class="top-content">
        {% for issue in issues %}
        <div class="content-wrapper">
            <div class="content-image-container">
              <img src="/media/{{ issue.cover}}" alt="" />
            </div>
            <a href="{{ issue.get_absolute_url }}" class="content-title-link"><span class="read">Read</span></a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="top-people">
      <div class="top-editors">
        <div class="title-card">
          <h3 class="top-newsletters-title">Top Editors</h3>
          <a href="" class="view-all"
            >View all<span class="iconly-Arrow-Right icli"></span
          ></a>
        </div>
        <div class="people-content-wrapper">
          <div class="people-profile">
            <img src="img/img.jpg" alt="" />
            <img src="img/img.jpg" alt="" />
            <img src="img/img.jpg" alt="" />
            <img src="img/img.jpg" alt="" />
          </div>
          <div class="content">
            <div class="viewers">Most Viewed</div>
            <div class="authors-days">
              <div class="number-of-authors">
                10 Editors
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="top-authors">
        <div class="title-card">
          <h3 class="top-newsletters-title">Featured Authors</h3>
          <a href="" class="view-all"
            >View all<span class="iconly-Arrow-Right icli"></span
          ></a>
        </div>
        <div class="people-content-wrapper">
          <div class="people-profile">
            {% for top_user in top_users %}
             <img src="/media/{{ top_user }}" alt="" />
            {% endfor %}
          </div>
          <div class="content">
            <div class="viewers">Most Viewed</div>
            <div class="authors-days">
              <div class="number-of-authors">
                10 Authors
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-items">
    <div class="stats">
      <h3 class="stats-title">My Stats</h3>
      <div class="stats-today">
        <h4 class="today">Impressions</h4>
        <p class="today-stats">
          <span class="iconly-Show icbo"></span>{{ views}} Views
        </p>
      </div>
      <div class="stats-month">
        <h4 class="month">Engagements</h4>
        <p class="month-stats">
          <span class="iconly-User2 icbo"></span>{{ comments }} Comment{{ comments | pluralize  }}
        </p>
      </div>
      <a href=" {% url 'user_post_list' %}" class="go-to-articles"
        >See your articles performance
        <span class="iconly-Arrow-Right icli"></span>
      </a>
    </div>
    <div class="recently-added">
      <div class="title-card">
        <h3 class="top-newsletters-title">Recently Added</h3>
        <a href="" class="view-all"
          >View all<span class="iconly-Arrow-Right icli"></span
        ></a>
      </div>
    <div class="added-content">
        {% for user, date in activities %}
         <div class="added-item">
            <div class="added-article">
              <div class="profile">
                <img src="/media/{{user.profile.photo}}" alt="" />
              </div>
              <p class="name">{{user.first_name}} {{user.last_name}}</p>
              <p class="action">Added article</p>
            </div>
            <div class="time">{{ date }}</div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}
<script src=" {% static 'js/base.js' %}"></script>
{% endblock footer %}
