{% extends "base.html" %}
{% load static %}
{% load blog_tags %}
{% load thumbnail %}

{% block title %}{{topic|split:"-"}}{% endblock %}
{% block content %}
{% include "editors/feeds-header.html" %}
<div class="article-feeds feed-contents">
  <div class="feed-title">
    <div class="section-title">{{topic|split:"-"}}</div>
    <i class="iconly-Arrow-Right-Circle icli"></i>
    <hr size="1" />
  </div>
  {% for post in topic_posts %}
    <div class="article-wrapper">
      <div class="article-info">
        <div class="profile-wrapper">
        {% if post.author.profile.photo %}
          <img src="{% thumbnail post.author.profile.photo 200x0 %}" alt="Profile" />
        {% else %}
            <img src="https://eu.ui-avatars.com/api/?background=08b86f&name={{post.author.first_name}}+{{post.author.last_name}}&size=250&color=fff"/>
        {% endif %}
        </div>
        <a href="{% url 'profile' username=post.author%}" class="author">
          {{post.author.first_name}} {{post.author.last_name}}
        </a>
        <span class="read-time posted">
          <span class="dot">&#183;</span> {{post.body|read_time}}
        </span>
        <span class="posted right"><i class="iconly-Time-Circle icli"></i>
          <span class="date">
            {{post.created|date:"M"}} {{post.created.day}}, {{ post.created|date:"Y"}}
          </span>
        </span>
      </div>
      <div class="summery-content">
        <h2 class="article-title">
          <a href="{{post.get_absolute_url}}" title="Article Title" class="article-title-link">
            {{post.title}}
          </a>
        </h2>
        <div class="article-summery">
          <div id="mobile-image">
            <img id="" src="{% thumbnail post.cover 300x0 %}" alt="Post-Image" />
          </div>
          <p class="summery-text">
            {{post.body|striptags|safe|truncatechars:400 }}
          </p>
        </div>
        <div class="popup" id="popup">
          <div class="header">
            <span>Share this via</span>
            <div id="close" class="close-element"><i class="uil uil-times"></i></div>
          </div>
          <div class="content">
            <div class="icons">
              <a href="https://www.facebook.com/sharer.php?u=https://www.getopas.com{{post.get_absolute_url}}?t='{{post.body|striptags|safe|truncatechars:180}}'" rel="noopener" target="_blank" ><i class="fab fa-facebook-f"></i></a>
              <a href="https://twitter.com/share?url=https://www.getopas.com{{post.get_absolute_url}}&amp;text={{post.body|striptags|safe|truncatechars:180}}" rel="noopener" target="_blank" ><i class="fab fa-twitter"></i></a>
              <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.getopas.com{{post.get_absolute_url}}&title={{post.title}}&summery={{post.body|striptags|safe|truncatechars:180}}" rel="noopener" target="_blank"><i class="fab fa-linkedin"></i></a>
              <a href="https://api.whatsapp.com/send?text=https://www.getopas.com{{post.get_absolute_url}}" data-action="share/whatsapp/share" target="_blank"><i class="fab fa-whatsapp"></i></a>
              <a href="https://t.me/share/url?url=https://www.getopas.com{{post.get_absolute_url}}&text={{post.body|striptags|safe|truncatechars:180}}" rel="noopener" target="_blank"><i class="fab fa-telegram-plane"></i></a>
          </div>
            <p>Or copy link</p>
            <div class="field">
              <i class="url-icon uil uil-link"></i>
              <input type="text" readonly value="https://www.getopas.com{{post.get_absolute_url}}">
              <button>Copy</button>
            </div>
          </div>
        </div>
        <div class="article-footer">
          <div class="article-tags">
          {% for tag in post.tags.names|truncate_tags %}
            <a href="{% url 'editors:explore' topic=tag|slug_tag %}" class="tag">{{tag|split:" "}}</a>
          {% endfor %}
          </div>
          <div class="article-actions">
            <a class="save {% check_saved post.id request.user%}" href="" data-id="{{ post.id }}" data-action="{% check_saved post.id request.user%}">
              <span>{% check_saved post.id request.user%}</span>
            </a>
            <a class="view-modal"  id="view-modal" title="Share" href="">
              <span>Share</span>
            </a>
            <a title="Report" href="">
              <span>Report</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% include "pagination.html" with page=topic_posts %}
</div>
{% include "editors/create-container.html" %}
<div class="sidebar-content">
  <div class="stats">
    <h3 class="stats-title">My Stats</h3>
    <div class="stats-today">
      <h4 class="today">Impressions</h4>
      <p class="today-stats">
        <span class="iconly-Show icbo"></span>{{ request.user|get_views }} View{{ request.user|get_views| pluralize }}
      </p>
    </div>
    <div class="stats-month">
      <h4 class="month">Engagements</h4>
      <p class="month-stats">
        <span class="iconly-User2 icbo"></span>{{ request.user|get_comments }} Comment{{ request.user|get_comments | pluralize }}
      </p>
    </div>
    <a href=" {% url 'editors:user_post_list' %}" class="go-to-articles"
      >See your articles performance
      <span class="iconly-Arrow-Right icli"></span>
    </a>
  </div>
  <div class="topics">
    <h2 class="sidebar-title">Discover Topics</h2>
    <ul class="topic-list">
      {% show_most_common_tags %}
    </ul>
  </div>
</div>
{% endblock content%}
{% block domready %}
//Share-Modal
const viewBtns = document.querySelectorAll("a#view-modal"),
    popup = document.querySelectorAll("#popup");

if(viewBtns != null && popup != null){
  viewBtns.forEach((viewBtn,index)=>{
    const close = popup[index].querySelector("#close"),
    field = popup[index].querySelector(".field"),
    input = field.querySelector("input"),
    copy = field.querySelector("button");

    viewBtn.addEventListener("click",(e)=>{
        e.preventDefault();
        popup[index].style.setProperty('display', 'block')
    })

    close.addEventListener("click",()=>{
        popup[index].style.setProperty('display', 'none')
    })

    copy.onclick = () => {
      input.select(); //select input value
      if (document.execCommand("copy")) { //if the selected text copy
        field.classList.add("active");
        copy.innerText = "Copied";
        setTimeout(() => {
          window.getSelection().removeAllRanges(); //remove selection from document
          field.classList.remove("active");
          copy.innerText = "Copy";
        }, 3000);
      }
    }
  })
}

const url = '{% url "editors:save" %}';
let options = {
  method: 'POST',
  headers: {'X-CSRFToken': csrftoken},
  mode: 'same-origin'
}

saveButtons = document.querySelectorAll('a.save')
saveButtons.forEach(saveButton =>{
  saveButton.addEventListener('click', function(e){
    e.preventDefault();
    if(saveButton.dataset.action === 'Save'){
        saveButton.textContent = 'Saving...'
    }
    else{
        saveButton.textContent = 'Removing...'
    }
    saveButton.style.pointerEvents = "none";

    // add request body
    let formData = new FormData();
    formData.append('id', saveButton.dataset.id);
    formData.append('action', saveButton.dataset.action);
    options['body'] = formData;

    // send HTTP request
    fetch(url, options).then(response => response.json()).then(data => {
      if (data['status'] === 'ok'){
        // toggle button text and data-action
        saveButton.dataset.action = data['action']
        saveButton.innerHTML = `<span>${data['action']}</span>`;
        if (data['action'] === 'Remove'){
          saveButton.style.backgroundColor = "var(--alt-accent-color)";
          saveButton.style.color = "#fff";
        }
        else{
          saveButton.style.backgroundColor = "var(--background-btn)";
          saveButton.style.color = "var(--gray-color)";
        }
      }
    });
    saveButton.style.pointerEvents = "auto";
  });
});
{% endblock %}