<div class="feeds-header">
    <div class="header-content">
        <h2 class="site-title">{{title|capfirst}}</h2>
        <div class="header-links">
          <a href="{% url 'editors:feeds' %}" class="header-link {% if title == 'feeds' %}active{% endif %}">Feeds</a>
          <a href="{% url 'editors:interest' %}" class="header-link {% if title == 'interests' %}active{% endif %}">Interest</a>
          <a href="{% url 'editors:trending' %}" title="Trending" class="header-link {% if title == 'trending' %}active{% endif %}">Trending</a>
          <a href="{% url 'editors:recent' %}" title="Recent" class="header-link {% if title == 'recent' %}active{% endif %}">Recent</a>
        </div>
    </div>
    {% include "account/user/header.html" %}
</div>