{% load blog_tags %}
<div class="feeds-header">
    <div class="header-content">
        <h2 class="site-title">{{section|split:"-"}}</h2>
        <div class="header-links">
          {% if title == 'home' %}
            <a href="{% url 'editors:home' %}" class="header-link active">Home</a>
          {% elif title == 'bookmarks' %}
            <a href="{% url 'editors:my_list' %}" class="header-link active">{{title|capfirst}}</a>
          {% elif title == 'publications' %}
            <a href="{% url 'editors:my_list' %}" class="header-link active">{{title|capfirst}}</a>
          {% elif title == 'topics' %}
            <a href="{% url 'editors:explore_topics' %}" class="header-link active">{{title|capfirst}}</a>
          {% elif title == 'explore' %}
            <a href="{% url 'editors:explore_topics' %}" class="header-link active">Topics</a>
          {% else %}
            <a href="{% url 'editors:feeds' %}" class="header-link {% if title == 'feeds' %}active{% endif %}">Feeds</a>
          {% endif %}
          <a href="{% url 'editors:interest' %}" class="header-link {% if title == 'for you' %}active{% endif %}">For you</a>
          <a href="{% url 'editors:trending' %}" title="Trending" class="header-link {% if title == 'trending' %}active{% endif %}">Trending</a>
          <a href="{% url 'editors:recent' %}" title="Recent" class="header-link {% if title == 'recent' %}active{% endif %}">Recent</a>
        </div>
    </div>
    {% include "account/user/header.html" %}
</div>