{% extends "base.html" %}
{% load static %}
{% load blog_tags %}
{% load thumbnail %}

{% block title %}Opas-Feeds{% endblock %}
{% block content %}
{% include "editors/feeds-header.html" %}
<div id="post-list" class="article-feeds feed-contents">
    <div class="feed-title">
        <div class="section-title">{{title|capfirst}}</div>
        <i class="iconly-Arrow-Right-Circle icli"></i>
    </div>
  {% include "editors/list-feeds.html" %}
</div>
<div class="sidebar-content">
  <div class="stats">
    <h3 class="stats-title">My Stats</h3>
    <div class="stats-today">
      <h4 class="today">Impressions</h4>
      <p class="today-stats">
        <span class="iconly-Show icbo"></span>{{ request.user|get_views }} View{{ request.user|get_views| pluralize }}
      </p>
    </div>
    <div class="stats-month">
      <h4 class="month">Engagements</h4>
      <p class="month-stats">
        <span class="iconly-User2 icbo"></span>{{ request.user|get_comments }} Comment{{ request.user|get_comments | pluralize }}
      </p>
    </div>
    <a href=" {% url 'editors:user_post_list' %}" class="go-to-articles"
      >See your articles performance
      <span class="iconly-Arrow-Right icli"></span>
    </a>
  </div>
  <div class="topics">
    <h2 class="sidebar-title">Discover Topics</h2>
    <ul class="topic-list">
      {% show_most_common_tags %}
    </ul>
  </div>
</div>
{% endblock content%}
{% block domready %}
  const url = '{% url "editors:save" %}';
  let options = {
      method: 'POST',
      headers: {'X-CSRFToken': csrftoken},
      mode: 'same-origin'
  }
  saveButtons = document.querySelectorAll('a#save')
  saveButtons.forEach(saveButton =>{
      saveButton.addEventListener('click', function(e){
          e.preventDefault();

          // add request body
          let formData = new FormData();
          formData.append('id', saveButton.dataset.id);
          formData.append('action', saveButton.dataset.action);
          options['body'] = formData;

          // send HTTP request
          fetch(url, options).then(response => response.json()).then(data => {
              if (data['status'] === 'ok'){
                  let previousAction = saveButton.dataset.action;

                  // toggle button text and data-action
                  let action = previousAction === 'Save' ? 'Remove' : 'Save';
                  saveButton.dataset.action = action;
                  saveButton.classList.add("Remove")
                  saveButton.innerHTML = `<span>${action}</span>`;
              }
          });
      });
  });
    let page = 1;
    let emptyPage = false;
    let blockRequest = false;
    window.addEventListener('scroll', function(e) {
        let margin = document.body.clientHeight - window.innerHeight - 200;
        if(window.pageYOffset > margin && !emptyPage && !blockRequest) {
            blockRequest = true;
            page += 1;
            fetch('?post_only=1&page=' + page)
            .then(response => response.text())
            .then(html => {
                if (html === '') {
                    emptyPage = true;
                }
                else {
                    var imageList = document.getElementById('post-list');
                    imageList.insertAdjacentHTML('beforeEnd', html);
                    blockRequest = false;
                    const url = '{% url "editors:save" %}';
                    let options = {
                        method: 'POST',
                        headers: {'X-CSRFToken': csrftoken},
                        mode: 'same-origin'
                    }
                    Buttons= document.querySelectorAll('a#save')
                    Buttons.forEach(Button =>{
                            Button.addEventListener('click', function(e){
                            e.preventDefault();

                            // add request body
                            let formData = new FormData();
                            formData.append('id', Button.dataset.id);
                            formData.append('action', Button.dataset.action);
                            options['body'] = formData;

                            // send HTTP request
                            fetch(url, options).then(response => response.json()).then(data => {
                                if (data['status'] === 'ok'){
                                    let previousAction = Button.dataset.action;

                                    // toggle button text and data-action
                                    let action = previousAction === 'Save' ? 'Remove' : 'Save';
                                    Button.dataset.action = action;
                                    Button.classList.add("Remove")
                                    Button.innerHTML = `<span>${action}</span>`;
                                }
                            });
                        });
                    });
                }
            })

        }
    });
    // Launch scroll event
    const scrollEvent = new Event('scroll');
    window.dispatchEvent(scrollEvent);
{% endblock %}