{% load blog_tags %}
<div class="feeds-header">
    <div class="header-content">
        <h2 class="site-title">Newsletters</h2>
        <div class="header-links">
          <a href="{% url 'editors:newsletters' %}" title="Trending" class="header-link {% if title == 'newsletters' %}active{% endif %}">Feeds</a>
          <a href="{% url 'editors:feeds' %}" class="header-link {% if title == 'popular' %}active{% endif %}">Popular</a>
          <a href="{% url 'editors:interest' %}" class="header-link {% if title == 'interests' %}active{% endif %}">Interest</a>
          <a href="{% url 'editors:recent' %}" title="Recent" class="header-link {% if title == 'recent' %}active{% endif %}">Recent</a>
        </div>
    </div>
    {% include "account/user/header.html" %}
</div>
