{% extends "base.html" %}
{% load static %}
{% load blog_tags %}
{% load contact_tags %}
{% load thumbnail %}
{% block title %}Newslatters{% endblock %}

{% block content %}
{% include "editors/newsletters-header.html" %}
<div class="newsletters-feeds feed-contents">
    <div class="feed-title">
        <div class="section-title">Popular</div>
        <i class="iconly-Arrow-Right-Circle icli"></i>
    </div>
    {% for issue in most_liked %}
        <div class="newsletter-wrapper">
            <div class="newsletter-head">
                <div class="cover-image">
                    <img src="{% thumbnail issue.cover 300x0 %}" alt="Newsletter cover" srcset="">
                </div>
                <div class="info">
                    <div class="title">{{issue.title}}</div>
                    <div class="author"> <span class="by">By</span>{{issue.owner}}</div>
                    <div class="release">
                        <span class="published">Published :</span>
                        <span class="text">{{issue.release}}</span>
                    </div>
                </div>
            </div>
            <div class="description">
                {{issue.description|striptags|safe|truncatechars:300 }}
            </div>
            <div class="footer">
                <div class="footer-info">
                    <span class="iconly-Heart icli"></span>
                    {% with issue.issue_likes.count as likes %}
                        <div class="likes">{{likes}} Like{{likes|pluralize}}</div>
                    {% endwith %}
                    {% for tag in issue.tags.all|first_tag %}
                        <a href="" class="topic">{{tag|split:" "}}</a>
                    {% endfor %}
                </div>
                <a href="{{issue.link}}" class="subscribe">Subscribe</a>
            </div>
        </div>
    {% endfor %}
    <div class="more"><a href="" class="get-more">Explore popular newsletters</a></div>
</div>
<div class="newsletters-feeds feed-contents">
    <div class="feed-title">
        <div class="section-title">For you</div>
        <i class="iconly-Arrow-Right-Circle icli"></i>
    </div>
    {% for issue in issues_interest %}
        <div class="newsletter-wrapper">
            <div class="newsletter-head">
                <div class="cover-image">
                    <img src="{% thumbnail issue.cover 300x0 %}" alt="Newsletter cover" srcset="">
                </div>
                <div class="info">
                    <div class="title">{{issue.title}}</div>
                    <div class="author"> <span class="by">By</span>{{issue.owner}}</div>
                    <div class="release">
                        <span class="published">Published :</span>
                        <span class="text">{{issue.release}}</span>
                    </div>
                </div>
            </div>
            <div class="description">
                {{issue.description|striptags|safe|truncatechars:300 }}
            </div>
            <div class="footer">
                <div class="footer-info">
                    <span class="iconly-Heart icli"></span>
                    {% with issue.issue_likes.count as likes %}
                        <div class="likes">{{likes}} Like{{likes|pluralize}}</div>
                    {% endwith %}
                    {% for tag in issue.tags.all|first_tag %}
                        <a href="" class="topic">{{tag|split:" "}}</a>
                    {% endfor %}
                </div>
                <a href="{{issue.link}}" class="subscribe">Subscribe</a>
            </div>
        </div>
    {% endfor %}
    <div class="more"><a href="" class="get-more">Explore more newsletters like this</a></div>
</div>
<div class="newsletters-feeds feed-contents">
    <div class="feed-title">
        <div class="section-title">Popular</div>
        <i class="iconly-Arrow-Right-Circle icli"></i>
    </div>
    {% for issue in recently_added %}
        <div class="newsletter-wrapper">
            <div class="newsletter-head">
                <div class="cover-image">
                    <img src="{% thumbnail issue.cover 300x0 %}" alt="Newsletter cover" srcset="">
                </div>
                <div class="info">
                    <div class="title">{{issue.title}}</div>
                    <div class="author"> <span class="by">By</span>{{issue.owner}}</div>
                    <div class="release">
                        <span class="published">Published :</span>
                        <span class="text">{{issue.release}}</span>
                    </div>
                </div>
            </div>
            <div class="description">
                {{issue.description|striptags|safe|truncatechars:300 }}
            </div>
            <div class="footer">
                <div class="footer-info">
                    <span class="iconly-Heart icli"></span>
                    {% with issue.issue_likes.count as likes %}
                        <div class="likes">{{likes}} Like{{likes|pluralize}}</div>
                    {% endwith %}
                    {% for tag in issue.tags.all|first_tag %}
                        <a href="" class="topic">{{tag|split:" "}}</a>
                    {% endfor %}
                </div>
                <a href="{{issue.link}}" class="subscribe">Subscribe</a>
            </div>
        </div>
    {% endfor %}
    <div class="more"><a href="" class="get-more">Explore recent newsletters</a></div>
</div>
{% include "editors/create-container.html" %}
{% endblock %}