{% extends "base.html" %}
{% load static %}
{% block title %}Opus - Edit User Role{% endblock %}
{% block content %}
<div class="main-content">
    <h1>Update User Role</h1>
    {% if user.is_superuser == True %}
        <div>Current Role: {{ role }}</div>
        <form method="POST">
        {{ form }}
        {% csrf_token %}
        <input type="submit" value="Save">
        </form>
    {% else %}
        <p>Permission Denied</p>
    {% endif %}
</div>
{% endblock %}
{% block footer %}
 <script src=" {% static 'js/base.js' %}"></script>
{% endblock footer%}