{% extends "base.html" %}
{% load static %}
{% block title %}Opus - Edit User Role{% endblock %}
{% block content %}
<div class="main-content">
    {% if user.is_superuser == True %}
        <form method="POST">
            <h2>Update {{ u.first_name}} Role</h2>
            <div class="role"><span class="role-title"> Current Role:</span> {{ role }}</div>
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Save">
        </form>
    {% else %}
        <p>Permission Denied</p>
    {% endif %}
</div>
{% endblock %}
{% block footer %}
 <script src=" {% static 'js/base.js' %}"></script>
{% endblock footer%}