{% extends "base.html" %}
{% load static %}
{% block title %}Opus | Magazine{% endblock %}
{% block content %}
<h2>Users</h2>
{% for user in users %}
{% if user.is_superuser == True %}
<div class="role">
    <span class="role-title">Role:</span> Admin
</div>
{% elif user.is_staff == True and user.is_superuser == False %}
<div class="role">
    <span class="role-title">Role:</span> Editor
</div>
{% else %}
<div class="role">
    <span class="role-title">Role:</span> Author
</div>
{% endif %}
<div class="user-wrapper">
    <p class="name">Name: {{ user.first_name}} {{ user.last_name }}</p>
    <p class="name">Email: {{ user.email}}</p>
    <a href="{% url 'moderate_user' user_id=user.id%}">edit role</a>
    <a href=" {% url 'remove_user' user_id=user.id%}">remove user</a>
</div>
{% endfor %}
{% include "pagination.html" with page=posts %}
<!--{% include "pagination.html" with page=page_obj %}-->
{% endblock %}

{% block footer %}
    <script src=" {% static 'js/base.js' %}"></script>
{% endblock footer %}