{% extends "editing.html" %}
{% load static %}
{% block title %}Opas | Write{% endblock %}
{% block content %}
<div class="main-content">
    <form method="post" enctype="multipart/form-data">
    {{post_form.media }}
    {% for field in post_form %}
      <div class="field {{ field.name }}">
        {% comment %} {{ field.label_tag }} {% endcomment %}
        <span class="name">{{ field.name|capfirst }}</span>
        {{ field }}
        {% comment %} {{ field.help_text }} {% endcomment %}
      </div>
      {% endfor %}
  {% csrf_token %}
  <button type="submit">Publish</button>
  </form>
</div>
{% endblock %}
