{% extends "editing.html" %}
{% load static %}
{% block title %}Create | Magazine{% endblock %}
{% block content %}
<h1>Add A new Magazine</h1>
<form method="post">
{{ magazine_form.media }}
{{ magazine_form.as_p }}
{% csrf_token %}
<input type="submit" value="Create">
</form>
{% endblock %}
{% block footer %}
<script src="{% static 'tinymce/tinymce.min.js'  %}"></script>
<script>
    tinymce.init({
        selector: '#id_description',
        height: 550, menubar: 'edit insert view format table',
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table paste imagetools wordcount'
        ],
        toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
      });
  </script>
  {% endblock footer%}