{% extends "editing.html" %}
{% load static %}
{% block title %}Opas | Create Article{% endblock %}
{% block content %}
<div class="main-content">
    <form method="post" enctype="multipart/form-data">
    {{post_form.media }}
    {% for field in post_form %}
      <div class="field">
        {{ field.label_tag }}
        {{ field }}
        {{ field.help_text }}
      </div>
      {% endfor %}
  {% csrf_token %}
  <button type="submit">Create</button>
  </form>
</div>
{% endblock %}
{% block footer %}
<script src="{% static 'tinymce/tinymce.min.js'  %}"></script>
<script src=" {% static 'js/base.js' %}"></script>
<script>
  tinymce.init({
      selector: '#id_body',
      height: 550,
      menubar: 'edit insert view format table',
      plugins: ["a11ychecker advcode casechange formatpainter", "linkchecker autolink lists checklist", "media mediaembed pageembed permanentpen", "powerpaste table advtable tinymcespellchecker"],
      toolbar: "formatselect | fontselect | bold italic strikethrough forecolor backcolor formatpainter | alignleft aligncenter alignright alignjustify | numlist bullist outdent indent | link insertfile image | removeformat | code | addcomment | checklist | casechange",

      content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
    });
</script>
{% endblock footer%}