{% extends "editing.html" %}
{% load static %}
  {% block title %}Edit | Article{% endblock %}
  {% block content %}
  <div class="main-content">
    <form method="POST" enctype="multipart/form-data">
    {{ edit_form.media }}
    {% for field in edit_form %}
      <div class="field {{ field.name }}">
        {% comment %} {{ field.label_tag }} {% endcomment %}
        <span class="name">{{ field.name|capfirst }}</span>
        {{ field }}
        {% comment %} {{ field.help_text }} {% endcomment %}
      </div>
    {% endfor %}
    {% csrf_token %}
    <button type="submit">Update</button>
    </form>
  </div>
  {% endblock %}
{% block footer %}
<script src=" {% static 'js/base.js' %}"></script>
{% endblock footer %}