{% extends "base.html" %}
{% load static %}
{% block title %}Opus - My Newsletters{% endblock %}
{% block content %}
<h2>My Newsletters</h2>
<a href="{% url 'new_newsletter' %}" class='add-new'>Create</a>
{% for issue in issues %}
<div class="issue-summery">
    <h2>
        <a href="{{ issue.get_absolute_url }}"> {{ issue.title }} </a>
    </h2>
    <div class="date">
        Published on:
         <span class="published-date">{{ issue.publish.date }} {{ issue.publish.time }}</span>
    </div>
    <div class="image-wrapper">
        <img src="/media/{{issue.cover}}" alt="Cover Image" title="{{issue.cover}}"/>
    </div>
    <div class="content-summery">
        {{ issue.description|striptags|truncatechars:200 }}
    </div>
    <div class='issue-stats'>
        <span class='stats-title'>Reach</span>
        <span class='views'><span class="iconly-Show icli"></span> {{ issue.issue_views }}</span>
        <span class='comments'><span class="iconly-User2 icli"></span> {{ issue.feedbacks.count }}</span>
    </div>
    <div class="action-links">
        <a href="/dashboard/edit-newsletter/{{issue.id}}">Edit</a>
        <a href="/dashboard/edit-newsletter/cover/{{issue.id}}">Cover</a>
        <a href="/dashboard/edit-newsletter/tags/{{issue.id}}">Tags</a>
        <a href="/dashboard/my-newsletters/{{issue.id}}/sections">Sections</a>
        <a href="/dashboard/delete-newsletter/{{issue.id}}">Delete</a>
    </div>
</div>
{% if empty %}
<p> You've not Published any Issues Yet!</p>
{% endif %}
{% endfor %}

{% include "pagination.html" with page=issues %} {% endblock %}

{% block footer %}
    <script src=" {% static 'js/base.js' %}"></script>
{% endblock footer%}