{% extends "base.html" %}
{% load static %}
{% block title %}Opus | My Articles{% endblock %} 
{% block content %}
    <h2>My Articles</h2>
{% for post in posts %}
    <div class="post-summery">
        <h2>
            <a href="{{ post.get_absolute_url }}"> {{ post.title }} </a>
        </h2>
        <div class='article-wrapper'>
            <p class="date">Published on: <span class="published-date">{{ post.publish.date }} {{ post.publish.time }}</span></p>
            {{ post.body|striptags|truncatechars:140}}
            <div class='article-stats'>
                <span class='stats-title'>Reach</span>
                <span class='views'><span class="iconly-Show icli"></span> {{ post.blog_views }}</span>
                <span class='comments'><span class="iconly-User2 icli"></span> {{ post.comments.count }}</span>
            </div>
            <div class="action-links">
                <a href="/dashboard/edit-article/{{post.id}}">Edit</a>
                <a href="/dashboard/edit-article/tags/{{post.id}}">Tags</a>
                <a href="/dashboard/delete-article/{{post.id}}">Delete</a>
            </div>
        </div>
    </div>
{% endfor %}
{% include "pagination.html" with page=posts %} {% endblock %}
{% block footer %}
    <script src=" {% static 'js/base.js' %}"></script>
{% endblock footer%}
