{% extends "base.html" %}
{% block title %}Opus | Magazine{% endblock %}
{% block content %}
<h1>My Issues</h1>
{% for issue in issues %}
<div class="post-summery">
    <h2>
        <a href="{{ issue.get_absolute_url }}"> {{ issue.title }} </a>
    </h2>
    <p class="date">Published on {{ issue.publish }} by {{ issue.author }}</p>
    <img src="/media/{{issue.cover}}" width="300" height="250" title="{{issue.cover}}" alt='Cover Image'/>
    {{ issue.description|truncatewords:30|linebreaks }}
    <a href="/dashboard/edit-newsletter/{{issue.id}}">edit</a>
    <a href="/dashboard/edit-newsletter/tags/{{issue.id}}">Edit tags</a>
    <a href="/dashboard/my-newsletters/{{issue.id}}/sections">Sections</a>
    <a href="/dashboard/delete-newsletter/{{issue.id}}">delete</a>
</div>
{% if empty %}
<p> You've not Published any Issues Yet!</p>

{% else %}
{% endif %}
{% endfor %}
{% include "pagination.html" with page=posts %}
<!--{% include "pagination.html" with page=page_obj %}-->
{% endblock %}
