{% extends "base.html" %}
{% load static %}
{% block title %}Opus - Issues Sections{% endblock %}
{% block content %}
<h2>{{issue.title}}: Sections</h2>
    <a href="/dashboard/my-newsletters/{{issue.id}}/sections/add" class='add-new'>New Section</a>
{% for section in sections %}
<div class="issue-section">
    <h2 class="title">{{ section.name }}</h2>
    {% if section.added %}
    <div class="add">
        <p>Added<a href="{% url 'remove_section' issue_id=issue.id  section_id=section.id%}">Remove</a></p>
    </div>
    <div class="section-content">
        {{ section.body|striptags|truncatechars:200 }}
    </div>
    <div class="section-links">
        <a href="{% url 'edit_section' issue_id=issue.id  section_id=section.id%}">Edit</a>
        <a href="{% url 'delete_section' issue_id=issue.id  section_id=section.id%}">Delete</a>
    </div>
    {% else %}
    <div class="add">
        <p>Not Added<a href="{% url 'add_section' issue_id=issue.id  section_id=section.id%}">Add</a></p>
    </div>
    <div class="section-content">
        {{ section.body|striptags|truncatechars:200 }}
    </div>
    <div class="section-links">
        <a href="{% url 'edit_section' issue_id=issue.id  section_id=section.id%}">Edit</a>
        <a href="{% url 'delete_section' issue_id=issue.id  section_id=section.id%}">Delete</a>
    </div>
    {% endif %}
</div>
{% if empty %}
<p> You've not Published any Sections For This Newsletter Yet!</p>

{% else %}
{% endif %}
{% endfor %}
{% include "pagination.html" with page=sections %}
<!--{% include "pagination.html" with page=page_obj %}-->
{% endblock %}
{% block footer %}
<script src=" {% static 'js/base.js' %}"></script>
{% endblock footer%}