{% block title %}Opus | Magazine{% endblock %}
{% block content %}
<h1>My Issues</h1>
<div class='issue-title'>
    <p>{{issue.title}}</p>
    <a href="/editors/my-newsletters/{{issue.id}}/sections/add">New Section</a>
</div>

{% for section in sections %}
<div class="issue-section">
    <p class="date">Section Title: {{ section.name }}</p>
    {% if section.added %}
    <p>Added<a href="{% url 'remove_section' issue_id=issue.id  section_id=section.id%}">Remove</a></p>
    {{ section.body|truncatewords:30|linebreaks }}
    <a href="{% url 'edit_section' issue_id=issue.id  section_id=section.id%}">Edit</a>
    <a href="{% url 'delete_section' issue_id=issue.id  section_id=section.id%}">Delete</a>
    {% else %}
    <p>Not Added<a href="{% url 'add_section' issue_id=issue.id  section_id=section.id%}">Add</a></p>
    {{ section.body|truncatewords:30|linebreaks }}
    <a href="{% url 'edit_section' issue_id=issue.id  section_id=section.id%}">Edit</a>
    <a href="{% url 'delete_section' issue_id=issue.id  section_id=section.id%}">Delete</a>
    {% endif %}
</div>
{% if empty %}
<p> You've not Published any Sections For This Newsletter Yet!</p>

{% else %}
{% endif %}
{% endfor %}
{% include "pagination.html" with page=posts %}
<!--{% include "pagination.html" with page=page_obj %}-->
{% endblock %}
