{% extends "base.html" %}
{% load static %}
{% block title %}Opus | My Articles{% endblock %}
{% block content %}
    <h2>My Articles</h2>
    <a href="{% url 'editors:create_post' %}" class='add-new'>Create</a>
{% for post in posts %}
    <div class="post-summery">
        <h2>
            <a href="{{ post.get_absolute_url }}"> {{ post.title }} </a>
        </h2>
        <div class="image-wrapper">
            <img src="/media/{{post.cover}}" alt="Cover Image" title="{{post.cover}}"/>
        </div>
        <div class="date">
            Published on: <span class="published-date">{{ post.publish.date }} {{ post.publish.time }}</span>
        </div>
        <div class='article-summery'>
            {{ post.body|striptags|truncatechars:200}}
        </div>
        <div class='article-stats'>
            <span class='stats-title'>Reach</span>
            <span class='views'><span class="iconly-Show icli"></span> {{ post.blog_views }}</span>
            <span class='comments'><span class="iconly-User2 icli"></span> {{ post.comments.count }}</span>
        </div>
        <div class="action-links">
            <a href="/edit-article/{{post.id}}">Edit</a>
            <a href="/edit-article/cover/{{post.id}}">Cover</a>
            <a href="/edit-article/tags/{{post.id}}">Tags</a>
            <a href="/delete-article/{{post.id}}">Delete</a>
        </div>
    </div>
{% if empty %}
<p> You've not Published any Articles Yet!</p>
{% endif %}
{% endfor %}
{% include "pagination.html" with page=posts %} {% endblock %}
{% block footer %}
    <script src=" {% static 'js/base.js' %}"></script>
{% endblock footer%}
