{% block title %}Opus | Magazine{% endblock %}
{% block content %}
<h1>My Issues</h1>
<div class='issue-title'>
    <p>{{obj.title}}</p>
    <a href="/editors/my-newsletters/{{obj.id}}/new">New Section</a>
</div>

{% for section in sections %}
<div class="issue-section">
    <p class="date">Section Title: {{ section.name }}</p>
    {% if section.added %}
    <p>Added<a href="/editors/my-newsletters/{{section.issue}}/remove/{{section.page}}">Remove</a></p>
    {% else %}
    <p>Not Added<a href="/editors/my-newsletters/{{section.issue}}/add/{{section.page}}">Add</a></p>
    {% endif %}
    {{ section.body|truncatewords:30|linebreaks }}
    <a href="/editors/edit-section/{{section.page}}">edit</a>
    <a href="/editors/delete-section/{{section.page}}">delete</a>
</div>
{% if empty %}
<p> You've not Published any Sections For This Newsletter Yet!</p>

{% else %}
{% endif %}
{% endfor %}
{% include "pagination.html" with page=posts %}
<!--{% include "pagination.html" with page=page_obj %}-->
{% endblock %}
