{% extends "search/base.html" %}
{% load blog_tags %}
{% block title %}Search{% endblock %}
{% block content %}
<h1>Search for Articles, Newslatters or Device information</h1>
    <form method="get">
    {{ form.as_p }}
    <input type="submit" value="Search">
    </form>
{% if option == 'one' %}
    {% if query %}
    <h1>Articles containing "{{ query }}"</h1>
    <h3>
    {% with results.count as total_results %}
    Found {{ total_results }} result{{ total_results|pluralize }}
    {% endwith %}
    </h3>
    {% for post in results %}
    <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></
    h4>
    {{ post.body|truncatewords_html:5 }}
    {% empty %}
    <p>There are no results for your query.</p>
    {% endfor %}
    <p><a href="{% url "search:item_search" %}">Search again</a></p>
    {% else %}
    {% endif %}

{% elif option == 'two' %}
    {% if query %}
    <h1>Newslatters containing "{{ query }}"</h1>
    <h3>
    {% with results.count as total_results %}
    Found {{ total_results }} result{{ total_results|pluralize }}
    {% endwith %}
    </h3>
    {% for issue in results %}
    <h4><a href="{{ issue.get_absolute_url }}">{{ issue.title }}</a></
    h4>
    {{ issue.description|truncatewords_html:5 }}
    {% empty %}
    <p>There are no results for your query.</p>
    {% endfor %}
    <p><a href="{% url "search:item_search" %}">Search again</a></p>
    {% else %}
    {% endif %}

{% elif option == 'three' %}
    {% if query %}
        <h1>Device Products containing "{{ query }}"</h1>
        <h3>
        {% with results.count as total_results %}
        Found {{ total_results }} result{{ total_results|pluralize }}
        {% endwith %}
        </h3>
        {% for product in results %}
        <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></
        h4>
        {{ product.about|truncatewords_html:5 }}
        {% empty %}
        <p>There are no results for your query.</p>
        {% endfor %}
        <p><a href="{% url "search:item_search" %}">Search again</a></p>
        {% else %}
    {% endif %}
{% endif %}
{% endblock %}