{% extends "base.html" %}
{% load static %}
{% load blog_tags %}
{% load contact_tags %}
{% load thumbnail %}
{% block title %}Search{% endblock %}
{% block content %}
    {% if query %}
        <div class="search-wrapper">
            <form method="get">
                <p>
                    {% for field in form %}
                        {{field}}
                    {% endfor %}
                </p>
                <i class="iconly-Search icli"></i>
            </form>
            <div class="search-header">
                <div class="header-content">
                    <h2 class="site-title">
                        Results for <span class="query">{{query|capfirst}}</span>
                    </h2>
                    <div class="header-links">
                        <a id="article-tab" href="" title="Articles" class="header-link {% if title == 'articles' %}active{% endif %}">Articles</a>
                        <a id="issue-tab" href="" title="Newsletters" class="header-link {% if title == 'newsletters' %}active{% endif %}">Newsletters</a>
                        <a id="people-tab" href="" title="Products" class="header-link {% if title == 'people' %}active{% endif %}">People</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="article-search" class="article-feeds feed-contents">
            <div class="feed-title">
                <div class="section-title">{% with results.count as total_results %}
                    Found {{ total_results }} result{{ total_results|pluralize }}
                    {% endwith %}</div>
                <i class="iconly-Arrow-Right-Circle icli"></i>
            </div>
            {% for post in results %}
                <div class="article-wrapper">
                    <div class="article-info">
                        <div class="profile-wrapper">
                            {% if post.author.profile.photo %}
                                <img src="{% thumbnail post.author.profile.photo 300x0 %}" alt="Profile">
                            {% else %}
                                <img src="https://eu.ui-avatars.com/api/?background=08b86f&name={{post.author.first_name}}+{{post.author.last_name}}&size=250&color=fff" alt="Profile">
                            {% endif %}
                        </div>
                        <a href="{% url 'profile' username=post.author%}" class="author">{{post.author.first_name}} {{post.author.last_name}}</a>
                        <span class="read-time posted"><span class="dot">&#183;</span>
                            {{post.body|read_time}}
                        </span>
                        <span class="posted right"><i class="iconly-Time-Circle icli"></i>
                            <span class="date">
                                {{post.created|date:"M"}} {{post.created.day}}, {{ post.created|date:"Y"}}
                            </span>
                        </span>
                    </div>
                    <div class="summery-content">
                        <h2 class="article-title">
                            <a href="{{post.get_absolute_url}}" title="Article Title" class="article-title-link"> {{post.title}} </a>
                        </h2>
                        <div class="article-summery">
                            <div id="mobile-image">
                                {% if post.cover %}
                                    <img id="" src="{% thumbnail post.cover 300x0 %}" alt="Post-Image">
                                {% else %}
                                    <img src="https://eu.ui-avatars.com/api/?background=ff8800&name={{post.title}}&size=250&color=fff">
                                {% endif %}
                            </div>
                            <p class="summery-text">
                                {{post.body|striptags|safe|truncatechars:400 }}
                            </p>
                        </div>
                        <div class="popup" id="popup">
                            <div class="header">
                            <span>Share this via</span>
                            <div id="close" class="close-element"><i class="uil uil-times"></i></div>
                            </div>
                            <div class="content">
                                <div class="icons">
                                    <a href="https://www.facebook.com/sharer.php?u=https://www.getopas.com{{post.get_absolute_url}}?t='{{post.body|striptags|safe|truncatechars:180}}'" rel="noopener" target="_blank" ><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://twitter.com/share?url=https://www.getopas.com{{post.get_absolute_url}}&amp;text={{post.body|striptags|safe|truncatechars:180}}" rel="noopener" target="_blank" ><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.getopas.com{{post.get_absolute_url}}&title={{post.title}}&summery={{post.body|striptags|safe|truncatechars:180}}" rel="noopener" target="_blank"><i class="fab fa-linkedin"></i></a>
                                    <a href="https://api.whatsapp.com/send?text=https://www.getopas.com{{post.get_absolute_url}}" data-action="share/whatsapp/share" target="_blank"><i class="fab fa-whatsapp"></i></a>
                                    <a href="https://t.me/share/url?url=https://www.getopas.com{{post.get_absolute_url}}&text={{post.body|striptags|safe|truncatechars:180}}" rel="noopener" target="_blank"><i class="fab fa-telegram-plane"></i></a>
                                </div>
                            <p>Or copy link</p>
                            <div class="field">
                                <i class="url-icon uil uil-link"></i>
                                <input type="text" readonly value="https://www.getopas.com{{post.get_absolute_url}}">
                                <button>Copy</button>
                            </div>
                            </div>
                        </div>
                        <div class="article-footer">
                            <div class="article-tags">
                            {% for tag in post.tags.all|truncate_tags %}
                                <a href="{% url 'editors:explore' topic=tag.slug %}" class="tag">{{tag|split:" "}}</a>
                            {% endfor %}
                            </div>
                            <div class="article-actions">
                                {% check_saved post.id request.user as saved %}
                                <a id="{{saved}}" class="save" href="" data-id="{{ post.id }}" data-action="{{saved}}">
                                    <span>{{saved}}</span>
                                </a>
                                <a class="view-modal"  id="view-modal" title="Share" href="">
                                    <span>Share</span>
                                </a>
                                <a title="Report" href="">
                                    <span>Report</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="issue-search" class="newsletters-feeds feed-contents">
            <div class="feed-title">
                <div class="section-title">
                    {% with issues.count as total_results %}
                        Found {{ total_results }} result{{ total_results|pluralize }}
                    {% endwith %}
                </div>
                <i class="iconly-Arrow-Right-Circle icli"></i>
            </div>
            {% for issue in issues %}
                <div class="newsletter-wrapper">
                    <div class="newsletter-head">
                        <div class="cover-image">
                            {% if issue.cover %}
                                <img src="{% thumbnail issue.cover 300x0 %}" alt="Newsletter cover">
                            {% else %}
                                <img src="https://eu.ui-avatars.com/api/?background=08b86f&name={{issue.title}}+{{issue.owner}}&size=300&color=fff" alt="Profile">
                            {% endif %}
                        </div>
                        <div class="info">
                            <div class="title">{{issue.title}}</div>
                            <div class="author"> <span class="by">By</span>{{issue.owner}}</div>
                            <div class="release">
                                <span class="published">Published :</span>
                                <span class="text">{{issue.release}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        {{issue.description|striptags|safe|truncatechars:300 }}
                    </div>
                    <div class="footer">
                        {% check_liked issue.id request.user as liked %}
                        <div class="footer-info">
                            <a href="" id="like-newsletter" data-id="{{ issue.id }}" data-action="{{liked}}">
                                <span class="iconly-Heart {% if liked == 'like' %}icli{% else %}icbo{% endif %}"></span>
                            </a>
                            {% with issue.issue_likes.count as likes %}
                                <div class="likes"><span id="count">{{likes}}</span> <span id="count-text">Like{{likes|pluralize}}</span></div>
                            {% endwith %}
                            {% for tag in issue.tags.all|first_tag %}
                                <a href="{% url 'editors:explore_newsletter_topic' topic=tag.slug %}"" class="topic">{{tag|split:" "}}</a>
                            {% endfor %}
                        </div>
                        <a href="{{issue.link}}" target="_blank" class="subscribe">Subscribe</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="people-search" class="people feed-contents">
            <div class="feed-title">
                <div class="section-title">
                    {% with people.count as total_results %}
                    {% if total_results == 1 %}
                        Found {{ total_results }} Person
                    {% elif total_results > 1 %}
                        Found {{ total_results }} People
                    {% else %}
                        People
                    {% endif %}
                    {% endwith %}
                </div>
                <i class="iconly-Arrow-Right-Circle icli"></i>
            </div>
            {% for auser in people %}
                <div class="person">
                    <div class="person-info">
                        <div class="profile-image-wrapper">
                            {% if auser.profile.photo %}
                                <img src="{% thumbnail auser.profile.photo 80x0 %}"/>
                            {% else %}
                                <img src="https://eu.ui-avatars.com/api/?background=08b86f&name={{auser.first_name}}+{{auser.last_name}}&size=250&color=fff" alt="{{auser.username}}" />
                            {% endif %}
                        </div>

                        <div class="user-info">
                            <span class="name"> {{auser.get_full_name}} </span>
                            <span class="dot">&#183;</span>
                            <a href="{% url 'profile' username=auser%}" class="username">@{{auser.username}}</a>
                        </div>
                        <div class="occupation"> {{auser.profile.occupation}}</div>
                    </div>
                    <div class="more-user-info">
                        {% with total_followers=auser.followers.count %}
                            <div class="followers-dots">
                                <span id="num">{{total_followers}}</span>
                                <span class="dot">&#183;</span>
                                <span class="followers-text">Follower{{total_followers|pluralize}}</span>
                            </div>
                        {% endwith %}
                        {% check_following request.user.id auser.id as follow %}
                            {% if request.user == auser %}
                                <span class="me">You</span>
                            {% else %}
                                <a href="" id="follow" class="{{follow|lower}}" data-id="{{ auser.id }}"  data-action="{{follow}}">{{follow}}</a>
                            {% endif %}
                    </div>
                </div>
            {% empty %}
            <div class="person" style="color:#08b86f;border:none">No users found!</div>
            {% endfor %}
        </div>
    {% else %}
        <div class="search-wrapper">
            <form method="get">
                <p>
                    {% for field in form %}
                        {{field}}
                    {% endfor %}
                </p>
                <i class="iconly-Search icli"></i>
            </form>
        </div>
    {% endif %}
    <div class="sidebar-content">
        <div class="topics">
          <h2 class="sidebar-title">Discover Topics</h2>
          <ul class="topic-list">
            {% show_most_common_tags %}
          </ul>
        </div>
    </div>
{% endblock %}
{% block domready %}
//Tab-switch
const articleTab = document.querySelector("a#article-tab"),
    issueTab = document.querySelector("a#issue-tab"),
    peopleTab = document.querySelector("a#people-tab");

const articleContents = document.querySelector("div#article-search"),
    issueContents = document.querySelector("div#issue-search"),
    peopleContents = document.querySelector("div#people-search");

//Issues-tab
if(issueTab != null && issueContents != null){
    issueTab.addEventListener("click",(e)=>{
        e.preventDefault();
        try{
            articleTab.style.setProperty('border-bottom', 'none')
            articleTab.style.setProperty('color', '#808080')
            articleContents.style.setProperty('display', 'none')

            //People
            peopleTab.style.setProperty('border-bottom', 'none')
            peopleTab.style.setProperty('color', '#808080')
            peopleContents.style.setProperty('display', 'none')
        }
        finally{
            e.target.style.setProperty('border-bottom', '2px solid #1dbd7b')
            e.target.style.setProperty('color', '#1dbd7b')
            issueContents.style.setProperty('display', 'grid')
        }
    })
}
//People-tab
if(peopleTab != null && peopleContents != null){
    peopleTab.addEventListener("click",(e)=>{
        e.preventDefault();
        try{
            //Issues
            issueTab.style.setProperty('border-bottom', 'none')
            issueTab.style.setProperty('color', '#808080')
            issueContents.style.setProperty('display', 'none')

            //articles
            articleTab.style.setProperty('border-bottom', 'none')
            articleTab.style.setProperty('color', '#808080')
            articleContents.style.setProperty('display', 'none')
        }
        finally{
            e.target.style.setProperty('border-bottom', '2px solid #1dbd7b')
            e.target.style.setProperty('color', '#1dbd7b')
            peopleContents.style.setProperty('display', 'inherit')
        }
    })
}

//Article-tab
if(articleTab != null && articleContents != null){
    articleTab.addEventListener("click",(e)=>{
        e.preventDefault();
        try{
            issueTab.style.setProperty('border-bottom', 'none')
            issueTab.style.setProperty('color', '#808080')
            issueContents.style.setProperty('display', 'none')

            //People
            peopleTab.style.setProperty('border-bottom', 'none')
            peopleTab.style.setProperty('color', '#808080')
            peopleContents.style.setProperty('display', 'none')
        }
        finally{
            e.target.style.setProperty('border-bottom', '2px solid #1dbd7b')
            e.target.style.setProperty('color', '#1dbd7b')
            articleContents.style.setProperty('display', 'grid')
        }
    })
}

//Share-Modal
const viewBtns = document.querySelectorAll("a#view-modal"),
popup = document.querySelectorAll("#popup");

if(viewBtns != null && popup != null){
  viewBtns.forEach((viewBtn,index)=>{
    const close = popup[index].querySelector("#close"),
    field = popup[index].querySelector(".field"),
    input = field.querySelector("input"),
    copy = field.querySelector("button");

    viewBtn.addEventListener("click",(e)=>{
        e.preventDefault();
        popup[index].style.setProperty('display', 'block')
    })

    close.addEventListener("click",()=>{
        popup[index].style.setProperty('display', 'none')
    })

    copy.onclick = () => {
      input.select(); //select input value
      if (document.execCommand("copy")) { //if the selected text copy
        field.classList.add("active");
        copy.innerText = "Copied";
        setTimeout(() => {
          window.getSelection().removeAllRanges(); //remove selection from document
          field.classList.remove("active");
          copy.innerText = "Copy";
        }, 3000);
      }
    }
  })
}

const url = '{% url "editors:save" %}';
let options = {
    method: 'POST',
    headers: {'X-CSRFToken': csrftoken},
    mode: 'same-origin'
}

//Save-Articles
saveButtons = document.querySelectorAll('a.save')
saveButtons.forEach(saveButton =>{
    saveButton.addEventListener('click', function(e){
        e.preventDefault();

        // add request body
        let formData = new FormData();
        formData.append('id', saveButton.dataset.id);
        formData.append('action', saveButton.dataset.action);
        options['body'] = formData;

        // send HTTP request
        fetch(url, options).then(response => response.json()).then(data => {
            if (data['status'] === 'ok'){
                // toggle button text
                saveButton.innerHTML = `<span>${data['action']}</span>`;
                if (data['action'] === 'Remove'){
                    saveButton.style.backgroundColor = "rgb(255, 136, 0)";
                    saveButton.style.color = "#fff";
                }
                else{
                    saveButton.style.backgroundColor = "rgba(57, 56, 56, 0.087)";
                    saveButton.style.color = "#808080";
                }
            }
        });
    });
});

//like

likeButtons = document.querySelectorAll('a#like-newsletter')
if(likeButtons != null){
    const url = '{% url "editors:like_newsletter" %}';
    let options = {
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        mode: 'same-origin'
    }

    likeButtons.forEach(likeBtn =>{
        likeBtn.addEventListener('click', function(e){
            e.preventDefault();

            // add request body
            let formData = new FormData();
            formData.append('id', likeBtn.dataset.id);
            formData.append('action', likeBtn.dataset.action);
            options['body'] = formData;

            // send HTTP request
            fetch(url, options).then(response => response.json()).then(data => {
                if (data['status'] === 'ok'){
                    // toggle button text
                    let parent = likeBtn.parentElement
                    let count = parent.querySelector("span#count")
                    let countText = parent.querySelector("span#count-text")
                    let totalFollowers = parseInt(count.textContent)
                    likeBtn.dataset.action = data['action']
                    if (data['action'] === 'unlike'){
                        likeBtn.innerHTML = `<span class="iconly-Heart icbo"></span>`;
                        if( totalFollowers === 0){
                            count.textContent = totalFollowers + 1;
                            countText.textContent = "Like";
                        }
                        else{
                            count.textContent = totalFollowers + 1;
                            countText.textContent = "Likes";
                        }
                    }
                    else{
                        likeBtn.innerHTML = `<span class="iconly-Heart icli"></span>`;
                        if( totalFollowers === 2){
                            count.textContent = totalFollowers - 1;
                            countText.textContent = "Like";
                        }
                        else{
                            count.textContent = totalFollowers - 1;
                            countText.textContent = "Likes";
                        }
                    }
                }
            });
        });
    });
}
//Follow

followButtons = document.querySelectorAll('a#follow')
if(followButtons != null){
    const url = '{% url "user_follow" %}';
    let options = {
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        mode: 'same-origin'
    }
    followButtons.forEach(followButton =>{
        followButton.addEventListener('click', function(e){
            e.preventDefault();

            parent = followButton.parentElement
            count = parent.querySelector('#num')
            followersText = parent.querySelector('.followers-text')

            // add request body
            let formData = new FormData();
            formData.append('id', followButton.dataset.id);
            formData.append('action', followButton.dataset.action);
            options['body'] = formData;

            // send HTTP request
            fetch(url, options)
            .then(response => response.json())
            .then(data => {
                if (data['status'] === 'ok'){
                    //let previousAction = followButton.dataset.action;
                    let action = followButton.dataset.action
                    let totalFollowers = parseInt(count.textContent);
                    if( action === 'Follow'){
                        followButton.dataset.action = 'Unfollow';
                        followButton.textContent = 'Unfollow';
                        followButton.style.backgroundColor = "rgb(255, 136, 0)";
                        count.textContent = totalFollowers + 1;
                        if( totalFollowers === 0){
                            followersText.textContent = 'Follower';
                        }
                        else{
                            followersText.textContent = 'Followers';
                        }
                    }
                    else if( action === 'Unfollow'){
                        followButton.dataset.action = 'Follow';
                        followButton.textContent = 'Follow';
                        followButton.style.backgroundColor = "#08b86f";
                        count.textContent = totalFollowers - 1;
                        if( totalFollowers === 2){
                            followersText.textContent = 'Follower';
                        }
                        else{
                            followersText.textContent = 'Followers';
                        }
                    }
                }
            })
        });
    })
}

{% endblock %}