main.article{
    background-color: rgb(231, 248, 215);
    margin: 0%;
    padding: 0%;
    left: 0px;
    z-index: 10;
    padding-left: 10px;
    top: 0px;
    right: 0%;
    bottom: 0%;
    top: 0%;
    bottom: 0%;
    /*box-shadow: 0rem 2rem 1.5rem #748f741f;*/

}
main.article>.main-content{
    margin: 50px;
    border: 1px solid green;
    display: block;
}
main.article>.main-content>.action-title{
    font-size: 1.2rem;
    display: none;
    /*border: 1px solid green;*/
    padding: 10px;
    width: 100%;
    padding: 0%;
    margin: 0%;
}
main.article>.main-content>.action-title h2{
    margin: 0%;
    font-size: 19px;
    box-shadow: 0rem 2rem 1.5rem #748f741f;
    background-color: rgb(231, 248, 215);
    width: max-content;
}
main.article>.main-content>form{
    width: 100%;
    border: 1px solid green;
    padding: 0%;
}
.errorlist{
    display: none;
}

main.article>.main-content>form>p:nth-of-type(1){
    width: 100%;
    padding: 0%;
    margin: 0%;
    /*border: 1px solid green;*/
}

label{
   /* border: 1px solid green;*/
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    color: #808080;
}
main.article>.main-content>form>p:nth-of-type(1)>input[type='text']{
   /* border: 1px solid green;*/
    padding: 2px 20px;
    border: none;
    outline: 1px solid #08b86f4d;
    font-size: 20px;
}
main.article>.main-content>form>p:nth-of-type(2){
    border: 1px solid #08b86f62;
}
main.article>.main-content>form>p:nth-of-type(3){
    border: none;
    padding: 0px;
    margin: 0%;
    background-color: white;
    height: 520px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
}
main.article>.main-content>form>p:nth-of-type(3)>label{
    display: none;
}
main.article>.main-content>form>input[type='submit']{
    padding: 5px 10px;
    justify-self: start;
    margin-left: 15px;
    border: none;
    background-color: #08b86f;
    box-shadow: 0rem 2rem 1.5rem #748f7454;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #ffffffd7;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
}
main.article>.main-content>form>p:nth-of-type(3),
main.article>.main-content>form>p:nth-of-type(2),
main.article>.main-content>form>p:nth-of-type(5){
    justify-self: center;
    width: 90%;
   /* border: 1px solid yellow;*/
    display: flex;
    flex-flow: column;
    gap: 5px;
}
form>p:nth-of-type(3)>input[type='text']{
    border: none;
    outline: 1px solid #08b86f4d;
    padding: 2px 5px;
}
form>p:nth-of-type(3)>.helptext{
   /* border: 1px solid #08b86f62;*/
    color: #808080;
    font-size: 0.8rem;
    text-align: center;
}
#id_status{
    background-color: #5eb49034;
    color: #08b86f;
    padding: 2px 5px;
    font-weight: bold;
    width: max-content;
    text-align: center;
    cursor: pointer;
    border: 1px solid #08b86f4d;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
