/*
        Name: Opus Layout css
        Version: 1.0.0
        Author: Fredrick Ochieng
*/

/*
    Success & Error Messages

*/
.messages{
    position: absolute;
    top: 12%;
    left: 40%;
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    z-index: 10;
}
.messages>.success{
    color: rgba(255, 255, 255, 0.938);
    position: relative;
    padding: 5px 15px;
    margin: 5px;
    font-size: 1rem;
    background-color:rgb(7, 133, 165);
}
.messages>.success>a{
    position: absolute;
    display: inline-block;
    text-decoration: none;
    right: -25px;
    top: 0%;
    bottom: 0%;
    font-size: 20px;
    padding: 0% 10px;
    background-color: #e74f3b;
    color: white;
}
.messages>.error{
    color: rgba(255, 255, 255, 0.938);
    position: relative;
    padding: 5px 15px;
    font-size: 1rem;
    background-color:rgb(202, 136, 12);
}
.messages>.error>a{
    position: absolute;
    text-decoration: none;
    right: -25px;
    top: 0%;
    bottom: 0%;
    font-size: 20px;
    padding: 0% 10px;
    display: inline-block;
    background-color: #e74f3b;
    color: white;
}


/*
    Listing Articles
*/
main.article-list,
main.issue-list{
    /*border: 1px solid rgb(48, 48, 45);*/
    position: fixed;
    margin: 0%;
    padding: 0%;
    left: 200px;
    top: 0px;
    right: 0%;
    bottom: 0%;
    margin-top: 75px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 30px;
    overflow-y: scroll;
    padding-bottom: 50px;

}
.article-list>h2,
.issue-list h2{
   /* border: 1px solid rgb(48, 48, 45);*/
    margin: 0%;
    color: #87c44e;
}
.article-list>.post-summery{
   /* border: 1px solid rgb(48, 48, 45);*/
    box-shadow: 0rem 2rem 1.5rem #748f740e;
    border: 1px solid #83858421;
    width: 90%;
    padding: 10px 20px;
    display: flex;
    flex-flow: column;
    gap: 10px;
    position: relative;
}
.issue-list>.issue-summery{
    /* border: 1px solid rgb(48, 48, 45);*/
     box-shadow: 0rem 2rem 1.5rem #748f740e;
     border: 1px solid #83858421;
     width: 90%;
     padding: 10px 20px;
     display: grid;
     grid-template-columns: 1fr 2fr 1fr;
     position: relative;
 }
 .issue-list>.issue-summery>h2{
    margin: 0%;
    padding: 0%;
    grid-column: 2/4;
    border: 1px solid #838584e0;
}
.issue-list>.issue-summery>.date{
    grid-column: 2/4;
    margin: 0%;
    color: #404040;
    font-weight: bold;
    margin: 5px 0px;
}
.article-list>.post-summery>h2{
    margin: 0%;
    padding: 0%;
}
.article-list>.post-summery>h2>a,
.issue-list>.issue-summery>h2>a{
    text-decoration: none;
    color: rgb(15, 138, 196);
}
.article-list>.post-summery>.article-wrapper{
  /* border: 1px solid rgb(48, 48, 45);*/
   margin-right: 60px;
}
.article-list>.post-summery>.article-wrapper>.date{
    margin: 0%;
    color: #404040;
    font-weight: bold;
    margin: 5px 0px;
}
.article-list>.post-summery>.article-wrapper>.date>.published-date{
    color: #808080;
    font-weight: lighter;
    font-size: 0.9rem;
}
.article-list>.post-summery>.article-wrapper>.article-stats{
    background-color: rgb(231, 248, 215);
    border-left: 1px solid #83858421;
    margin: 5px 0px;
    padding: 2px 10px;
    margin-left: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: -5px;
    right: 0%;
    bottom: -5px;
    color: #a2bb69;
}
.article-list>.post-summery>.article-wrapper>.article-stats>.stats-title{
    font-weight: bold;
}

.article-list>.post-summery>.article-wrapper>.article-stats>.views,
.article-list>.post-summery>.article-wrapper>.article-stats>.comments{
    color: #808080;
    font-weight: unset;
    font-size: 0.9rem;
    /*border: 1px solid rgb(48, 48, 45);*/
    display: flex;
    align-items: center;
}
.article-list>.post-summery>.article-wrapper>.article-stats>.views>.icli,
.article-list>.post-summery>.article-wrapper>.article-stats>.comments>.icli{
    font-size: 16px;
    font-weight: bold;
    color: #df9409;
    /*border: 1px solid rgb(48, 48, 45);*/
    display: inline-block;
    margin-right: 5px;
}
.article-list>.post-summery>.article-wrapper>.action-links{
   /* border: 1px solid rgb(48, 48, 45);*/
    margin: 30px 0px 10px 0px;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}
.article-list>.post-summery>.article-wrapper>.action-links>a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.938);
    display: inline-block;
    padding: 2px 15px;
    font-weight: bold;
    font-size: 0.9rem;
    opacity: .9;
    background-color:rgb(15, 138, 196);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.article-list>.post-summery>.article-wrapper>.action-links>a:last-of-type{
    background-color:rgb(196, 36, 15);
}


/*
    Editing Articles Tags

*/
main.article-list>form{
    border: 1px solid #83858421;
    box-shadow: 0rem 2rem 1.5rem #748f740c;
    width: 70%;
    min-height: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
main.article-list>form>p>label{
   /* border: 1px solid #808080;*/
    text-align: center;
    display: block;
    font-size: 20px;
    margin: 8px;
    color: #404040;
}

main.article-list>form>p>input[type='text']{
    width: 100%;
    padding: 2px 20px;
    border: none;
    outline: 1px solid #08b86f4d;
    font-size: 16px;
    color: #808080;
}
main.article-list>form>input[type='submit']{
    padding: 4px 30px;
    border: none;
    background-color: #08b86f;
    box-shadow: 0rem 2rem 1.5rem #748f742a;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #ffffffd7;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

form>p>.helptext{
    color: #808080;
    display: block;
    margin: 5px 10px;
    font-size: 0.9rem;
    text-align: center;
}