/*
        Name: Opus Layout css
        Version: 1.0.0
        Author: Fredrick Ochieng
*/

/*
    Success & Error Messages

*/
.messages{
    position: absolute;
    top: 12%;
    left: 40%;
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    z-index: 10;
}
.messages>.success{
    color: rgba(255, 255, 255, 0.938);
    position: relative;
    padding: 5px 15px;
    margin: 5px;
    font-size: 1rem;
    background-color:rgb(7, 133, 165);
}
.messages>.success>a{
    position: absolute;
    display: inline-block;
    text-decoration: none;
    right: -25px;
    top: 0%;
    bottom: 0%;
    font-size: 20px;
    padding: 0% 10px;
    background-color: #e74f3b;
    color: white;
}
.messages>.error{
    color: rgba(255, 255, 255, 0.938);
    position: relative;
    padding: 5px 15px;
    font-size: 1rem;
    background-color:rgb(202, 136, 12);
}
.messages>.error>a{
    position: absolute;
    text-decoration: none;
    right: -25px;
    top: 0%;
    bottom: 0%;
    font-size: 20px;
    padding: 0% 10px;
    display: inline-block;
    background-color: #e74f3b;
    color: white;
}


/*
    Listing Articles
*/
main.article-list,
main.issue-list,
main.devices,
main.devices-info,
main.users,
main.profile{
    /*border: 1px solid rgb(48, 48, 45);*/
    position: fixed;
    margin: 0%;
    padding: 0%;
    left: 200px;
    top: 0px;
    right: 0%;
    bottom: 0%;
    margin-top: 75px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 30px;
    overflow-y: scroll;
    padding-bottom: 50px;

}
/* Users  and Profile*/
main.users>.user-wrapper{
    width: 90%;
    display: grid;
    grid-template-columns: 60px 2fr 1fr;
    justify-content: center;
    box-shadow: 0rem 2rem 1.5rem #6366630e;
    border: 1px solid #83858421;
    padding: 10px;
}
main.profile>.main-content{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: minmax(150px, 200px);
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    box-shadow: 0rem 2rem 1.5rem #6366630e;
    border: 1px solid #83858421;
    padding: 10px;
}
main.profile>.main-content>div{
    border: 1px solid #83858421;
}
main.profile>.main-content>.bio{
    grid-column: 1/2;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
}
main.profile>.main-content>.action-links{
    grid-column: 1/4;
    display: flex;
    align-items: flex-end;
}




main.users>.user-wrapper>.image-wrapper,
main.profile>.main-content>.bio>.user-image{
    height: 40px;
    width: 40px;
    padding: 3px;
    border: 1px solid #34d63471;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
main.users>.user-wrapper>.info-wrapper{
    margin: 0%;
    color: #808080;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
main.devices-create>.main-content>form>.role{
    color: #808080;
}
main.users>.user-wrapper>.info-wrapper>.detail,
main.users>.user-wrapper>.info-wrapper>.role{
    margin: 5px 0%;
}
main.users>.user-wrapper>.info-wrapper>.role>.role-title,
main.users>.user-wrapper>.info-wrapper>.detail>.title,
main.devices-create>.main-content>form>.role>.role-title{
    color: #404040;
    font-size: 1.05rem;
}
main.users>.user-wrapper>.image-wrapper>img,
main.profile>.main-content>.bio>.user-image>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}
main.users>.user-wrapper>.action-links{
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 20px;
}
main.users>.user-wrapper>.action-links>a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.938);
    box-shadow: 0rem 0.5rem 1.5rem #6366630e;
    display: inline-block;
    padding: 3px 15px;
    font-size: 1rem;
    border: 1px solid #83858421;
    color: #08b86f;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
main.users>.user-wrapper>.action-links>a:last-of-type{
    color:rgb(200, 62, 44);
}



/* Other Lists */
.article-list>h2,
.issue-list>h2,
main.devices-info>h2,
.devices>h2,
main.users>h2{
   /* border: 1px solid rgb(48, 48, 45);*/
    margin: 0%;
    color: #08b86f;
}

.article-list>.post-summery,
.issue-list>.issue-summery,
.devices>.product-summery,
.devices-info>.info-summery{
    /* border: 1px solid rgb(48, 48, 45);*/
     box-shadow: 0rem 2rem 1.5rem #748f740e;
     border: 1px solid #83858421;
     width: 90%;
     padding: 10px 20px;
     display: grid;
     grid-template-columns: 1fr 3fr 100px;
     position: relative;
 }
 .devices-info>.info-summery{
    display: flex;
    flex-flow: column;
 }
 .issue-list>.issue-section{
    box-shadow: 0rem 2rem 1.5rem #748f740e;
     border: 1px solid #83858421;
     width: 90%;
     padding: 10px 20px;
     display: grid;
     grid-template-columns: 3fr 50px;
     row-gap: 10px;
     column-gap: 10px;
     position: relative;
 }
 .issue-list>.issue-section>.title{
    grid-column: 1/3;
    margin: 0%;
 }
 .issue-list>.issue-section>.add{
    position: absolute;
    bottom: 15px;
    right: 15px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.938);
    display: inline-block;
    padding: 2px 15px;
    font-weight: bold;
    font-size: 0.9rem;
    border: #83858421;
    opacity: .9;
    background-color:rgb(133, 205, 39);
    border-radius: 50px;
 }
 .issue-list>.issue-section>.section-content{
    grid-column: 1/2;
    grid-row: 2/4;
    padding: 0px 0px 10px;
 }
 .issue-list>.issue-section>.section-links{
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
 }
 .issue-list>.issue-summery>h2,
 .article-list>.post-summery>h2,
 .devices>.product-summery>h2{
    margin: 0%;
    padding: 0%;
    grid-column: 2/3;
    /*border: 1px solid #838584e0;*/
}
.issue-list>.issue-summery>.date,
.article-list>.post-summery>.date,
.devices>.product-summery>.date{
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0%;
    color: #404040;
    font-weight: bold;
    margin: 5px 0px;
}

.issue-list>.issue-summery>.image-wrapper,
.article-list>.post-summery>.image-wrapper,
.devices>.product-summery>.image-wrapper{
    height: 150px;
    grid-column: 1/2;
    grid-row: 1/8;
    margin-right: 20px;
}
.issue-list>.issue-summery>.image-wrapper>img,
.article-list>.post-summery>.image-wrapper>img,
.devices>.product-summery>.image-wrapper>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.issue-list>.issue-summery>.content-summery,
.article-list>.post-summery>.article-summery,
.devices>.product-summery>.content-summery{
    grid-column: 2/3;
    grid-row: 3/6;
    color: #404040;
}
.issue-list>.issue-summery>.issue-stats,
.article-list>.post-summery>.article-stats,
.devices>.product-summery>.product-stats{
    grid-column: 3/4;
    grid-row: 1/8;
    background-color:  white;
    border-left: 1px solid #83858421;
    margin: 0px 0px;
    padding: 10px 10px;
    margin-left: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
}
.issue-list>.issue-summery>.issue-stats>.stats-title,
.article-list>.post-summery>.article-stats>.stats-title,
.devices>.product-summery>.product-stats>.stats-title{
    color: #3fb886;
    font-size: 1.2rem;
}
.issue-list>.issue-summery>.action-links,
.article-list>.post-summery>.action-links,
.devices>.product-summery>.action-links{
    grid-row: 7/8;
    grid-column: 2/3;
}

.article-list>.post-summery>h2>a,
.issue-list>.issue-summery>h2>a,
.devices>.product-summery>h2>a{
    text-decoration: none;
    color: rgb(15, 138, 196);
    font-weight: 400;
}


.article-list>.post-summery>.date>.published-date,
.issue-list>.issue-summery>.date>.published-date,
.devices>.product-summery>.date>.release-date{
    color: #808080;
    font-weight: lighter;
    font-size: 0.9rem;
}

.article-list>.post-summery>.article-stats>.views,
.article-list>.post-summery>.article-stats>.comments,
.issue-list>.issue-summery>.issue-stats>.views,
.issue-list>.issue-summery>.issue-stats>.comments,
.devices>.product-summery>.product-stats>.views,
.devices>.product-summery>.product-stats>.reviews{
    color: #808080;
    font-weight: unset;
    padding: 0%;
    font-size: 0.9rem;
   /* border: 1px solid rgb(48, 48, 45);*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.article-list>.post-summery>.article-stats>.views>.icli,
.article-list>.post-summery>.article-stats>.comments>.icli,
.issue-list>.issue-summery>.issue-stats>.views>.icli,
.issue-list>.issue-summery>.issue-stats>.comments>.icli,
.devices>.product-summery>.product-stats>.views>.icli,
.devices>.product-summery>.product-stats>.reviews>.icli{
    font-size: 16px;
    font-weight: bold;
    color: #df9409;
    /*border: 1px solid rgb(48, 48, 45);*/
    display: inline-block;
    margin-right: 5px;
    padding-top: 2px;
}

.article-list>.post-summery>.action-links,
.issue-list>.issue-summery>.action-links,
.devices>.product-summery>.action-links,
.devices-info>.info-summery>.info-links{
    /*border: 1px solid rgb(48, 48, 45);*/
    margin: 30px 0px 10px 0px;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: end;
    gap: 10px;
}

.article-list>.post-summery>.action-links>a,
.issue-list>.issue-summery>.action-links>a,
.issue-list>.issue-section>.section-links>a,
.devices>.product-summery>.action-links>a,
.devices-info>.info-summery>.info-links>a,
main.devices>.main-content>.image>.action-links>a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.938);
    box-shadow: 0rem 0.5rem 1.5rem #6366630e;
    display: inline-block;
    padding: 3px 15px;
    font-size: 1rem;
    border: 1px solid #83858421;
    color: #08b86f;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.article-list>.post-summery>.action-links>a:last-of-type,
.issue-list>.issue-summery>.action-links>a:last-of-type,
.issue-list>.issue-section>.section-links>a:last-of-type,
.devices>.product-summery>.action-links>a:last-of-type{
    color:rgb(200, 62, 44);
}


/*
    Editing Articles Tags

*/
main.article-list>form{
    border: 1px solid #83858421;
    box-shadow: 0rem 2rem 1.5rem #748f740c;
    width: 70%;
    min-height: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
main.article-list>form>p>label{
   /* border: 1px solid #808080;*/
    text-align: center;
    display: block;
    font-size: 20px;
    margin: 8px;
    color: #404040;
}

main.article-list>form>p>input[type='text']{
    width: 100%;
    padding: 2px 20px;
    border: none;
    outline: 1px solid #08b86f4d;
    font-size: 16px;
    color: #808080;
}
main.article-list>form>input[type='submit']{
    padding: 4px 30px;
    border: none;
    background-color: #08b86f;
    box-shadow: 0rem 2rem 1.5rem #748f742a;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #ffffffd7;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

form>p>.helptext{
    color: #808080;
    display: block;
    margin: 5px 10px;
    font-size: 0.9rem;
    text-align: center;
}
/* Pagination */
.pagination>.step-links>a{
    text-decoration: none;
    color: rgb(15, 138, 196);
}