* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.6;
    /* background-color: var(--body-background-color);*/
}

html.sr .load-hidden {
    visibility: hidden;
}

body {
    margin: 0%;
    font-family: 'Product Sans', sans-serif;
    font-size: 16px;
    background-color: var(--background-color);

}

/*
@media (prefers-color-scheme: dark) {
    :root{
        --body-background-color: rgb(40, 40, 41);

        --accent-color: rgb(255, 136, 0);
        --section-title-color: rgb(250, 197, 136);
        --article-title-color:rgb(250, 226, 204);

        --bg-color: #000;
        --text: rgba(121, 250, 250, 0.904);
        --title-one-color:#fff;
        --title-color: rgb(255, 136, 0);
        --author-link-color: rgb(16, 143, 165);
        --under-title-color: rgb(199, 197, 197);
        --summery-color: rgb(226, 224, 224);

        --button-text-color: rgb(199, 249, 255);
        --border-color: rgba(9, 205, 240, 0.445);
        --footer-link-color: #666;
        --site-name-color: rgba(102,247,113,1);
        --link-hover-color: teal;

        --content-gradient: linear-gradient(350deg, #0f0f1a 1%, #0f0f1a 100%);
        --side-content:#0a0a0f;
        --border-bottom: rgba(0, 128, 128, 0.486);
        --quick-info:rgba(121, 250, 250, 0.904);

        --shading:rgb(15, 15, 15);

        --background-color: #0f0f1a;
        --ba-color:#0f0f1a;
        --bg-color-one: #0e0e0e;

        --shadow-text: -0.05rem 0.05rem 0.009rem rgba(184, 181, 181, 0);
    }
  }
*/
:root {
    --accent-color: #08b86f;
    --alt-accent-color: rgb(255, 136, 0);
    --section-title-color: rgb(46, 46, 46);
    --article-title-color: #404040;
    --under-title-color: #666;
    --footer-link-color: #666;
    --link-color: #007bff;

    --gray-color: #808080;
    --hover-link-color: #1dbd7b;
    --summery-color: #404040;
    --unread-color: rgba(226, 227, 227, 0.64);

    --background-color: white;
    --body-background-color: #ffffff;
    --background-btn: rgba(57, 56, 56, 0.087);
    --box-shadow: 0 12px 48px rgba(109, 117, 141, 0.2);
    --nav-background: rgba(57, 56, 56, 0.087);
    --border: 1px solid #83858442;

    --border-color: #05e98a70;
    --quick-info: #091310;
    --border-bottom: rgba(0, 128, 128, 0.486);

    --shadow-text: -0.05rem 0.05rem 0.009rem rgb(184, 181, 181);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #e5e5e5;
        --accent: #1688f0;
        --bg-main: #000;
        --bg-repo: #0f0f1a;
        --bg-user: #0a0a0f;
        --accent-color: rgb(255, 136, 0);
        --alt-accent-color: #08b86f;
        --section-title-color: rgb(46, 46, 46);
        --article-title-color: #f2f2f2;
        --under-title-color: #666;
        --footer-link-color: #666;
        --link-color: #007bff;

        --gray-color: #a6a6a6;
        --hover-link-color: #1dbd7b;
        --summery-color: #e5e5e5;
        --unread-color: rgba(90, 91, 91, 0.64);

        --background-color: #1a1a1a;
        --body-background-color: #000;
        --background-btn: rgba(214, 214, 214, 0.089);
        --box-shadow: 0 12px 48px rgba(109, 117, 141, 0.2);
        --nav-background: rgba(218, 215, 215, 0.087);
        --border: 1px solid #a2a3a342;

        --border-color: #05e98a70;
        --quick-info: #091310;
        --border-bottom: rgba(0, 128, 128, 0.486);

        --shadow-text: -0.05rem 0.05rem 0.009rem rgb(184, 181, 181);
    }
}