{% load thumbnail %}
{% load blog_tags %}
<div class="profile-section">
    <a href="{% url 'editors:actions' %}">
      <span class="iconly-Notification icbo">
        {%  total_unread user_id=request.user.id  as unread %}
        {% if unread > 0 %}
        <span id="text-count"></span>
        {% endif %}
      </span>
    </a>
    <div id="dropdown-btn" class="profile-image-wrapper">
        <span class="active-status">
          <span class="dot"></span>
        </span>
        {% if user.profile.photo %}
        {% thumbnail user.profile.photo "80x80" crop="100%" as im %}
                <img src="{{ im.url }}" alt="{{ user.username }}" class="item-img" />
        {% else %}
            <img src="https://eu.ui-avatars.com/api/?background=08b86f&name={{user.first_name}}+{{user.last_name}}&size=100&color=fff" alt="{{ user.username }}" class="item-img" />
        {% endif %}
    </div>
    <div id="profile-dropdown" class="profile-dropdown">
        <div class="go-to-profile">
          <div class="profile-image-wrapper">
            {% if user.profile.photo %}
            {% thumbnail user.profile.photo "80x80" crop="100%" as im %}
                    <img src="{{ im.url }}" alt="{{ user.username }}" class="item-img" />
            {% else %}
                <img src="https://eu.ui-avatars.com/api/?background=08b86f&name={{user.first_name}}+{{user.last_name}}&size=100&color=fff" alt="{{ user.username }}" class="item-img" />
            {% endif %}
          </div>
          <div class="name-container">
            <h4 class="name">{{user.get_full_name}}</h4>
            <a href=" {% url 'profile' username=user.username %} " class="profile-link">View Profile
              <span class="iconly-Arrow-Right icbo"></span>
            </a>
          </div>
        </div>
        <hr size="1" />
        <ul class="linked-list top-links">
          <li class="dropdown-li">
            <a href="" class="dropdown-link">Dashboard</a>
          </li>
          <li class="dropdown-li">
            <a href=" {% url 'profile' username=user.username %} " class="dropdown-link">Your Profile</a>
          </li>
          <li class="dropdown-li">
            <a href=" {% url 'editors:user_post_list' %} " class="dropdown-link">Your Publications</a>
          </li>
          <li class="dropdown-li">
            <a href="{% url 'editors:my_list' %}" class="dropdown-link">Saved Publications</a>
          </li>
        </ul>
        <hr size="1" />
        <ul class="linked-list middle-links">
          <li class="dropdown-li">
            <a href="" class="dropdown-link">Docs</a>
          </li>
          <li class="dropdown-li">
            <a href="" class="dropdown-link">Privacy</a>
          </li>
          <li class="dropdown-li">
            <a href="" class="dropdown-link">What's New?</a>
          </li>
          <li class="dropdown-li">
            <a href="" class="dropdown-link">Send Us Feedback</a>
          </li>
        </ul>
        <hr size="1" />
        <ul class="linked-list log-out">
          <li class="dropdown-li">
            <a href="{% url 'logout' %}" class="dropdown-link log-out">Log Out</a>
          </li>
        </ul>
    </div>
</div>