{% load static %}
{% load contact_tags %}
{% load blog_tags %}
{% load thumbnail %}
{% with page=users %}
{% for auser in users %}
    <div class="person">
        <div class="person-info">
            <div class="profile-image-wrapper">
                {% if auser.profile.photo %}
                    <img src="{% thumbnail auser.profile.photo 80x0 %}"/>
                {% else %}
                    <img src="https://eu.ui-avatars.com/api/?background=23a6d5&name={{auser.first_name}}+{{auser.last_name}}&size=250&color=fff" alt="{{auser.username}}" />
                {% endif %}
            </div>

            <div class="user-info">
                <span class="name"> {{auser.get_full_name}} </span>
                <span class="dot">&#183;</span>
                <a href="{% url 'profile' username=auser%}" class="username">@{{auser.username}}</a>
            </div>
            <div class="occupation"> {{auser.profile.occupation}}</div>
        </div>
        <div class="more-user-info">
            {% with total_followers=auser.followers.count %}
                <div class="followers-dots">
                    <span id="num">{{total_followers}}</span>
                    <span class="dot">&#183;</span>
                    <span class="followers-text">Follower{{total_followers|pluralize}}</span>
                </div>
            {% endwith %}
            {% check_following request.user.id auser.id as follow %}
                {% if request.user == auser %}
                    <span class="me">You</span>
                {% else %}
                    <a href="" id="follow-{{page.number}}" class="{{follow|lower}}" data-id="{{ auser.id }}"  data-action="{{follow}}">{{follow}}</a>
                {% endif %}
        </div>
    </div>
{% empty %}
<div class="person" style="color:#08b86f;border:none">No users found!</div>
{% endfor %}
{% endwith %}