{% extends "devices/base.html" %}
{% block title %} {{ product.name }} {% endblock %}
{% block content %}
<h1>{{ product.name }}</h1>
<p>Type: {{product.type}}</p>
<p class="date">Series: {{ product.series }}</p
<p class="date">Name: {{ product.name }}</p>
<p class="date">Model: {{ product.model }}</p>
<p class="date">Company: {{ product.company }}</p>
<p class="date">Release: {{ product.release_date }}</p>
{{ product.about|linebreaks }}

{% with physical_info as p_info %}
{% if p_info %}
<div class="physical_info">
    <p class="info"> Physical Info</p>
    <p class="info"> Screen: {{ p_info.screen }}</p>
    <p class="info"> Battery: {{ p_info.battery }}</p>
    <p class="info"> Camera: {{ p_info.camera}}</p>
    <p class="info"> RAM: {{ p_info.ram }}</p>
    <p class="info"> Storage: {{ p_info.rom }}</p>
    <p class="info"> Process:{{ p_info.processor }}</p>
</div>
{% else %}
<p>There are no info yet.</p>
{% endif %}
{% endwith %}

{% with reviews.count as total_reviews %}
    <h2>
        {{ total_reviews }} Review{{ total_reviews|pluralize }}
    </h2>
{% endwith %}
{% for review in reviews %}
    <div class="Reviews">
        <p class="info">
        Review {{ forloop.counter }} by {{ review.author }}
        {{ review.created }}
        </p>
        <p>Rate: {{ review.rate}}</p>
        {{ review.remarks|linebreaks }}
    </div>
    {% empty %}
    <p>There are no reviews yet.</p>
{% endfor %}
{% if user.is_authenticated %}

    {% if new_feedback %}
        <h2>Your Reviews has been added.</h2>
        {% else %}
        <h2>Add a Review</h2>
        <form method="post">
            {{ review_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Add Review"></p>
        </form>
    {% endif %}

{% else %}
<a href=" {% url 'login' %}">Login to add a Review</a>
{% endif %}


<!--
{% for section in sections %}
    <div class="section">
        <h2 class="info"> {{ section.name }}</h2>
        {{ section.body|linebreaks }}
    </div>
    {% empty %}
    <p>There are no sections yet.</p>
{% endfor %}


-->
{% endblock %}
