{% extends "devices/base.html" %}
{% block title %} {{ product.name }} {% endblock %}
{% block content %}
<h1>{{ product.name }}</h1>
<p>Type: {{product.type}}</p>
<p class="date">Series: {{ product.series }}</p
<p class="date">Name: {{ product.name }}</p>
<p class="date">Model: {{ product.model }}</p>
<p class="date">Company: {{ product.company }}</p>
<p class="date">Release: {{ product.release_date }}</p>
{{ product.about|linebreaks }}
{% with feedback.count as total_feedbacks %}
    <h2>
        {{ total_feedbacks }} Feedback{{ total_feedbacks|pluralize }}
    </h2>
{% endwith %}
{% for feedback in feedbacks %}
    <div class="feedback">
        <p class="info">
        Feedback {{ forloop.counter }} by {{ feedback.author }}
        {{ feedback.created }}
        </p>
        {{ feedback.body|linebreaks }}
    </div>
    {% empty %}
    <p>There are no comments yet.</p>
{% endfor %}
{% if user.is_authenticated %}

    {% if new_feedback %}
        <h2>Your Feedback has been added.</h2>
        {% else %}
        <h2>Add a Feedback</h2>
        <form method="post">
            {{ feedback_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Add Feedback"></p>
        </form>
    {% endif %}

{% else %}
<a href=" {% url 'login' %}">Login To Add Feedback</a>
{% endif %}
<!--
{% for section in sections %}
    <div class="section">
        <h2 class="info"> {{ section.name }}</h2>
        {{ section.body|linebreaks }}
    </div>
    {% empty %}
    <p>There are no sections yet.</p>
{% endfor %}


-->
{% endblock %}
