{% extends "devices/base.html" %}
{% block title %}Opus - Device-Info{% endblock %}

{% block content %}
<h1>Devices</h1>
{% for product in products %}
<h2>
  <a href="{{ product.get_absolute_url }}"> {{ product.id }} </a>
</h2>
<p class="date">Title: {{ product.title}}</p>
<img src="/media/{{ product.cover }}" title="Good-{{ product.cover }}" width="200px" height="100px" />
<p>Type: {{product.type}}</p>
<p class="date">Series: {{ product.series }}</p
<p class="date">Name: {{ product.name }}</p>
<p class="date">Model: {{ product.model }}</p>
<p class="date">Company: {{ product.company }}</p>
<p class="date">Release: {{ product.release_date }}</p>
{{ product.about|truncatewords:30|linebreaks }} {% endfor %}
{% endblock %}
