{% extends "magazine/base.html" %}
{% load magazine_tags %}
{% block title %}Opus - Device-Info{% endblock %}

{% block content %}
<h1>Devices</h1>
{% for product in products %}
<h2>
  <a href="{{ issue.get_absolute_url }}"> {{ product.name }} </a>
</h2>
<p>Type: {{product.type}}</p>
<p class="date">Series: {{ product.series }}</p
<p class="date">Name: {{ product.name }}</p>
<p class="date">Model: {{ product.model }}</p>
<p class="date">Company: {{ product.company }}</p>
<p class="date">Release: {{ product.release_date }}</p>
{{ product.about|truncatewords:30|linebreaks }} {% endfor %}
<!--
<div class='most-feedback'>
<h3>Editor's Pick</h3>
  {% get_issues_with_most_feedback as m_issues %}
  {% for issue in m_issues %}
    <h2>
      <a href="{{ issue.get_absolute_url }}"> {{ issue.title }} </a>
    </h2>
    <p class="date">Published {{ issue.publish }} by {{ issue.author }}</p>
    {{ issue.description|truncatewords:30|linebreaks }}
  {% endfor %}
</div>
<div class='health-care-issues'>
  <h3>Health Care</h3>
    {% get_issues_of_health_care as h_issues %}
    {% for issue in h_issues %}
      <h2>
        <a href="{{ issue.get_absolute_url }}"> {{ issue.title }} </a>
      </h2>
      <p class="date">Published {{ issue.publish }} by {{ issue.author }}</p>
      {{ issue.description|truncatewords:30|linebreaks }}
    {% endfor %}
  </div>
  <div class='health-care-issues'>
    <h3>Business & Tech</h3>
      {% get_issues_of_business as b_issues %}
      {% for issue in h_issues %}
        <h2>
          <a href="{{ issue.get_absolute_url }}"> {{ issue.title }} </a>
        </h2>
        <p class="date">Published {{ issue.publish }} by {{ issue.author }}</p>
        {{ issue.description|truncatewords:30|linebreaks }}
      {% endfor %}
    </div>
    -->
{% endblock %}
