{% extends "devices/base.html" %}
{% block title %}Opus - Device-Info{% endblock %}

{% block content %}
<h1>Devices</h1>
{% for product in covers %}
<h2>
  <a href="{{ product.get_absolute_url }}"> {{ product.name }} </a>
</h2>
<div class='images'>
  <p>Images: </p>
  {% for cover in covers %}
      <img src="/media/{{ cover }}" width="200px" height="100px" />
  {% endfor %}
</div>
<p class="date">Title: {{ product.title}}</p>
<img src="/media/{{ cover_photo }}" title="Good-{{ cover_photo }}" width="200px" height="100px" />
<p>Type: {{product.type}}</p>
<p class="date">Series: {{ product.series }}</p
<p class="date">Name: {{ product.name }}</p>
<p class="date">Model: {{ product.model }}</p>
<p class="date">Company: {{ product.company }}</p>
<p class="date">Release: {{ product.release_date }}</p>
{{ product.about|truncatewords:30|linebreaks }} {% endfor %}
{% endblock %}
