{% extends "base.html" %}
{% load static %}
{% block title %}{{r_user.username}} - Profile{% endblock %}
{% block content %}
<div class="main-content">
    <div class="bio">
        <div class="user-image">
            <img src="/media/{{ profile.photo }}"/>
        </div>
        <div class="data">
            <div class="name">{{r_user.first_name}} {{r_user.last_name}}
            </div>
            <div class="email">{{r_user.email}}
            </div>
        </div>
    </div>
    <div class="about">
        <h2>About</h2>
        {{profile.about|safe}}
    </div>
    {% if user == r_user %}
    <div class="action-links">
        <a href="{% url 'edit' %}">Edit Profile</a>
    </div>
    {% endif %}

</div>
{% endblock %}
{% block footer %}
 <script src=" {% static 'js/base.js' %}"></script>
{% endblock footer%}