{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "favicon.ico" %}" rel="shortcut icon">
    <link href="{% static "css/global.css" %}" rel="stylesheet">
    <link href="{% static "css/footer.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <link href="{% static "css/header.css" %}" rel="stylesheet">
    <link href="{% static "css/responsive.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/product-sans" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
</head>

<body class="feeds-body">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <span href="#" class="close">x</span>
                </li>
        {% endfor %}
        </ul>
    {% endif %}
    <main class="feeds {{section}}">
        <button type="button" class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <div class="dashboard-sidebar">
            <div class="logo-container">
                <div class="site-logo">
                    <img src="/media/img/favi.png" alt="Logo" />
                </div>
            </div>
            <div class="sidebar-nav">
                <div class="content-nav">
                    <ul class="linked-list content-list">
                        <li class="content-link">
                            <a class="link {% if section == 'opas' %}data-active{% endif %}" href=" {% url 'editors:home' %}">
                                <span id="select"></span>
                                <span class="iconly-Home icli"></span>
                                <span class="link-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="content-link">
                            <a class="link {% if section == 'create' %}data-active{% endif %}" href=" {% url 'editors:create_post' %}">
                                <span id="select"></span>
                                <span class="iconly-Plus icli"></span>
                                <span class="link-text">Create</span>
                            </a>
                        </li>
                        <li class="content-link">
                            <a class="link {% if section == 'search' %}data-active{% endif %}" href="{% url 'editors:user_issue_list' %}">
                                <span id="select"></span>
                                <span class="iconly-Search icli"></span>
                                <span class="link-text">Search</span>
                            </a>
                        </li>
                        <li class="content-link">
                            <a class="link {% if section == 'explore' %}data-active{% endif %}" href="{% url 'editors:explore_topics'%}">
                                <span id="select"></span>
                                <span class="iconly-Discovery icli"></span>
                                <span class="link-text">Discover</span>
                            </a>
                        </li>
                        <li class="content-link">
                            <a class="link {% if section == 'research' %}data-active{% endif %}" href="{% url 'editors:user_product_list' %}">
                                <span id="select"></span>
                                <span class="iconly-Document icli"></span>
                                <span class="link-text">Research</span>
                            </a>
                        </li>
                        <li class="content-link">
                            <a class="link {% if section == 'newsletter' %}data-active{% endif %}" href="{% url 'editors:user_issue_list' %}">
                                <span id="select"></span>
                                <span class="iconly-Message icli"></span>
                                <span class="link-text">Newsletters</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="hr"></div>
                <div class="settings-nav">
                    <ul class="linked-list settings-list">
                        <li class="content-link">
                            <a class="link {% if section == 'profile' %}data-active{% endif %}" href=" {% url 'profile' username=user.username %}">
                                <span id="select"></span>
                                <span class="iconly-Profile icli"></span>
                                <span class="link-text">Profile</span>
                            </a>
                        </li>
                        <li class="content-link">
                            <a class="link {% if section == 'my-list' %}data-active{% endif %}" href="{% url 'editors:my_list' %}">
                                <span id="select"></span>
                                <span class="iconly-Bookmark icli"></span>
                                <span class="link-text">My List</span>
                            </a>
                        </li>
                        <li class="content-link">
                            <a class="link {% if section == 'people' %}data-active{% endif %}" href="">
                                <span id="select"></span>
                                <span class="iconly-User2 icli"></span>
                                <span class="link-text">People</span>
                            </a>
                        </li>
                        <li class="content-link">
                            <a class="link {% if section == 'themes' %}data-active{% endif %}" href="#">
                                <span id="select"></span>
                                <span class="iconly-Show icli"></span>
                                <span class="link-text">Themes</span>
                            </a>
                        </li>
                        <li class="content-link">
                            <a class="link {% if section == 'donate' %}data-active{% endif %}" href="#">
                                <span id="select"></span>
                                <span class="iconly-Heart icli"></span>
                                <span class="link-text">Donate</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </main>

    <div class="mobile-footer">
        <a href="{% url 'editors:home' %}" title="Home" class="mobile-footer-link {% if section == 'home' %}active{% endif %}">
            <span class="iconly-Home icli"></span>
        </a>
        <a href="{% url 'search:item_search' %}" title="Search" class="mobile-footer-link {% if section == 'search' %}active{% endif %}">
            <span class="iconly-Search icli"></span>
        </a>
        <a href="" title="Search" class="mobile-footer-link {% if section == 'newsletter' %}active{% endif %}">
            <span class="iconly-Message icli"></span>
        </a>
        <div class="profile-section">
            {% if user.profile.photo %}
            <div id="footer-btn" class="profile-image-wrapper">
               <!-- <span class="active-status">
                  <span class="dot"></span>
                </span>-->
                {% if user.profile.photo %}
                {% thumbnail user.profile.photo "80x80" crop="100%" as im %}
                        <img src="{{ im.url }}" alt="{{ user.username }}" class="item-img" />
                {% else %}
                    <img src="https://eu.ui-avatars.com/api/?background=08b86f&name={{user.first_name}}+{{user.last_name}}&size=100&color=fff" alt="{{ user.username }}" class="item-img" />
                {% endif %}
            </div>
            {% else %}
            <div id="footer-btn" class="profile-icon profile-image-wrapper">
                <span class="iconly-Profile icli"></span>
            </div>
            {% endif %}
            <div id="profile-footer" class="profile-dropdown">
                <div class="go-to-profile">
                  <div class="profile-image-wrapper">
                    {% if user.profile.photo %}
                    {% thumbnail user.profile.photo "80x80" crop="100%" as im %}
                            <img src="{{ im.url }}" alt="{{ user.username }}" class="item-img" />
                    {% else %}
                        <img src="https://eu.ui-avatars.com/api/?background=08b86f&name={{user.first_name}}+{{user.last_name}}&size=100&color=fff" alt="{{ user.username }}" class="item-img" />
                    {% endif %}
                  </div>
                  <div class="name-container">
                    <h4 class="name">{{user.get_full_name}}</h4>
                    <a href=" {% url 'profile' username=user.username %} " class="profile-link">View Profile
                      <span class="iconly-Arrow-Right icbo"></span>
                    </a>
                  </div>
                </div>
                <hr size="1" />
                <ul class="linked-list top-links">
                  <li class="dropdown-li">
                    <a href="" class="dropdown-link">Dashboard</a>
                  </li>
                  <li class="dropdown-li">
                    <a href="{% url 'editors:my_list' %}" class="dropdown-link">Saved Articles</a>
                  </li>
                  <li class="dropdown-li">
                    <a href=" {% url 'profile' username=user.username %} " class="dropdown-link">Your Profile</a>
                  </li>
                  <li class="dropdown-li">
                    <a href=" {% url 'editors:user_post_list' %} " class="dropdown-link">Your Articles</a>
                  </li>
                </ul>
                <hr size="1" />
                <ul class="linked-list middle-links">
                  <li class="dropdown-li">
                    <a href="" class="dropdown-link">Explore</a>
                  </li>
                  <li class="dropdown-li">
                    <a href="" class="dropdown-link">What's New?</a>
                  </li>
                  <li class="dropdown-li">
                    <a href="" class="dropdown-link">Send Us Feedback</a>
                  </li>
                  <li class="dropdown-li">
                    <a href="" class="dropdown-link">About Us</a>
                  </li>
                </ul>
                <hr size="1" />
                <ul class="linked-list log-out">
                  <li class="dropdown-li">
                    <a href="{% url 'logout' %}" class="dropdown-link log-out">Log Out</a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
    <script src=" {% static 'js/dropdown.js' %}"></script>
    <script>
        const csrftoken = Cookies.get('csrftoken');
        document.addEventListener('DOMContentLoaded', (event) => {

            {% block domready %}
            {% endblock %}
        });
    </script>
    {% block footer %}
    {% endblock footer %}
</body>

</html>