{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/global.css" %}" rel="stylesheet">
    <link href="{% static "css/footer.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <link href="{% static "css/header.css" %}" rel="stylesheet">
    <link href="{% static "css/responsive.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/product-sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">
</head>

<body class="feeds-body">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">x</a>
                </li>
        {% endfor %}
        </ul>
    {% endif %}
    <main class="feeds {{ section }}">
        <button type="button" class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <div class="dashboard-sidebar">
            <div class="logo-container">
                <div class="site-logo">
                    <img src="/media/img/favi.png" alt="Logo" />
                </div>
            </div>
            <div class="sidebar-nav">
                <div class="content-nav">
                    <ul class="linked-list content-list">
                        <li class="content-link">
                            <a class="link" href=" {% url 'dashboard' %}">
                                <span id="select"></span>
                                <span class="iconly-Home icli"></span>
                                <span class="link-text">Home</span>
                            </a>
                        </li>
                        <li class="content-link">
                            <a class="link" href=" {% url 'create_post' %}">
                                <span id="select"></span>
                                <span class="iconly-Plus icli"></span>
                                <span class="link-text">Create</span>
                            </a>
                        </li>
                        <li class="content-link">
                            <a class="link" href="{% url 'user_issue_list' %}">
                                <span id="select"></span>
                                <span class="iconly-Search icli"></span>
                                <span class="link-text">Search</span>
                            </a>
                        </li>
                        <li class="content-link">
                            <a class="link " href="{% url 'user_product_list' %}">
                                <span id="select"></span>
                                <span class="iconly-Bag-2 icli"></span>
                                <span class="link-text">Products</span>
                            </a>
                        </li>
                        <li class="content-link">
                            <a class="link" href="#">
                                <span id="select"></span>
                                <span class="iconly-Discovery icli"></span>
                                <span class="link-text">Explore</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="hr"></div>
                <div class="settings-nav">
                    <ul class="linked-list settings-list">
                        <li class="content-link">
                            <a class="link data-active" href=" {% url 'profile' username=user.username %}">
                                <span id="select"></span>
                                <span class="iconly-Profile icli"></span>
                                <span class="link-text">Profile</span>
                            </a>
                        </li>
                        <li class="content-link">
                            <a class="link" href="#">
                                <span id="select"></span>
                                <span class="iconly-Bookmark icli"></span>
                                <span class="link-text">My List</span>
                            </a>
                        </li>
                        <li class="content-link">
                            <a class="link " href="#">
                                <span id="select"></span>
                                <span class="iconly-Info-Circle icli"></span>
                                <span class="link-text">Themes</span>
                            </a>
                        </li>
                        <li class="content-link">
                            <a class="link" href="#">
                                <span id="select"></span>
                                <span class="iconly-Heart icli"></span>
                                <span class="link-text">Donate</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </main>
    <div class="mobile-footer">
        <a href="" title="Home" class="mobile-footer-link">
            <span class="iconly-Home icli"></span>
        </a>
        <a href="" title="Search" class="mobile-footer-link">
            <span class="iconly-Search icli"></span>
        </a>
        <a href="" title="Search" class="mobile-footer-link">
            <span class="iconly-Message icli"></span>
        </a>
        <a href="" title="Products" class="mobile-footer-link">
            <span class="iconly-Bag-2 icli"></span>
        </a>
        <a href="" title="Create" class="mobile-footer-link">
            <span class="iconly-Edit icli"></span>
        </a>
        <!--<a href="" title="Create" class="mobile-footer-link active">
            <span class="iconly-Profile icli"></span>
        </a>-->
    </div>
    {% block footer %}
    {% endblock footer %}
</body>

</html>