{% extends "base.html" %}
{% load static %}
{% load contact_tags %}
{% load thumbnail %}
{% block title %}{{r_user.username}} - Profile{% endblock %}
{% block content %}
    <div class="site-title">
        <div class="section-title">Profile</div>
            {% with total_followers=r_user.followers.count %}
                <span class="count">
                    <span class="total">{{ total_followers }}</span>
                    follower{{ total_followers|pluralize }}
                </span>
            {% endwith %}
        {% if user == r_user %}
            <a href="{% url 'edit' username=r_user.username%}" class="edit">
                <i class="iconly-Edit icli"></i>
                <span class="edit-text">Edit</span>
            </a>
        {% else %}
            <a href="" class="edit follow" data-id="{{ r_user.id }}"  data-action="{% check_follow request.user r_user %}">
               {% check_follow request.user r_user %}
            </a>
        {% endif %}
    </div>
    <div class="profile-info">
        <div class="general-info">
            <div class="profile-title">
                <div class="section-title">General Info</div>
            </div>
            {% if user == r_user %}
            <form class="profile-image" method="post" enctype="multipart/form-data">
                <div class="avatar-upload">
                    <div class="avatar-edit">
                            {{ profile_photo_form.photo.label_tag }}
                            {{ profile_photo_form.photo }}
                    </div>
                    <div class="avatar-preview">
                        <div id="clock"
                        {% if user.profile.photo %}
                        style="background-image: url('..{% thumbnail user.profile.photo 300x0 %}');">
                        {% else %}
                            style="background-image: url('https://eu.ui-avatars.com/api/?background=08b86f&name={{r_user.first_name}}+{{r_user.last_name}}&size=250&color=fff');">
                        {% endif %}
                        </div>
                    </div>
                </div>
            {% csrf_token %}
            <input type="submit" value="Update">
            </form>
            {% else %}
            <div class="profile-image">
                <div class="avatar-upload">
                    <div class="avatar-preview">
                        <div id="clock"
                        {% if r_user.profile.photo %}
                            style="background-image: url('..{% thumbnail r_user.profile.photo 300x0 %}');">
                        {% else %}
                            style="background-image: url('https://eu.ui-avatars.com/api/?background=08b86f&name={{r_user.first_name}}+{{r_user.last_name}}&size=250&color=fff');">
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="info-container">
                <div class="info">
                    <div class="info-title">Name</div>
                    <div class="info-content">{{r_user.first_name}} {{r_user.last_name}}</div>
                </div>
                <div class="info">
                    <div class="info-title">Email</div>
                    <div class="info-content">{{r_user.email}}</div>
                </div>
                <div class="info">
                    <div class="info-title">Occupation</div>
                    <div class="info-content">{{profile.occupation}}</div>
                </div>
                <div class="info">
                    <div class="info-title">Bio</div>
                    <div class="info-content">{{profile.about|striptags|safe}}</div>
                </div>
            </div>
        </div>
        <div class="contact-info">
            <div class="profile-title">
                <div class="section-title">Contact Info</div>
            </div>
            <div class="info-container">
                <div class="info">
                    <div class="info-title">Website</div>
                    <div class="info-content">{{profile.website}}</div>
                </div>
                <div class="info">
                    <div class="info-title">Twitter</div>
                    <div class="info-content">@{{profile.twitter}}</div>
                </div>
                <div class="info">
                    <div class="info-title">Linkedin</div>
                    <div class="info-content">{{profile.linkedin}}</div>
                </div>
                <div class="info">
                    <div class="info-title">Location</div>
                    <div class="info-content">{{profile.location}}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}
{% block domready %}
    const url = '{% url "user_follow" %}';
    let options = {
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        mode: 'same-origin'
    }

        followButton = document.querySelector('a.follow')
        followButton.addEventListener('click', function(e){
            e.preventDefault();

            // add request body
            let formData = new FormData();
            formData.append('id', followButton.dataset.id);
            formData.append('action', followButton.dataset.action);
            options['body'] = formData;

            // send HTTP request
            fetch(url, options)
            .then(response => response.json())
            .then(data => {
                if (data['status'] === 'ok'){
                    //let previousAction = followButton.dataset.action;
                    let action = followButton.dataset.action
                    let followerCount = document.querySelector('span.count .total');
                    let totalFollowers = parseInt(followerCount.innerHTML);

                    if( action === 'Follow'){
                        followButton.dataset.action = 'Unfollow';
                        followButton.textContent = 'Unfollow';
                        followerCount.innerHTML = totalFollowers + 1;
                    }
                    else if( action === 'Unfollow'){
                        followButton.dataset.action = 'Follow';
                        followButton.textContent = 'Follow';
                        followerCount.innerHTML = totalFollowers - 1;
                    }
                }
            })
        });
{% endblock %}
{% block footer %}
<script>
    let changepic = document.getElementById('id_photo')
    if(changepic != null){
        changepic.addEventListener('change', readURL, true);
        function readURL() {
            const file = document.getElementById("id_photo").files[0];
            const reader = new FileReader();
            reader.onloadend = function () {
                document.getElementById('clock').style.backgroundImage = "url(" + reader.result + ")";
            }
            if (file) {
                reader.readAsDataURL(file);
            } else {
            }
        }
    }
</script>
{% endblock footer%}