{% extends 'magazine/base.html' %}
{% block title %} Share Magazine Issue {% endblock %}
{% block content %}
    {% if sent %}
    <h2>E-mail successfully sent</h2>
    <p>
        "{{ issue.title }}" was successfully sent to {{ form.cleaned_data.to }}
    </p>
    {% else %}
        <h2>Share "{{ issue.title }}" by e-mail</h2>
        <form method='post'>
            {{ forms.as_ul }}
            {% csrf_token %}
            <input type="submit" value="Send e-mail">
        </form>
    {% endif %}

{% endblock %}
