{% extends "logmain.html" %}
{% block title %}Opus Login{% endblock %}
{% block content %}
<div class="login-form">
    <div class="top">
        <h2>Welcome back!</h2>
        <i>Glad to see you again</i>
    </div>
    <form action="{% url 'login' %}" method="post">
        {% for field in form %}
            <div class="field">
                {{field.label}}
                {{field}}
            </div>
        {% endfor %}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <input type="submit" value="Log-in">
    </form>
    {% if form.errors %}
        <ul>
            <li>Your username and password didn't match. Please try again.</li>
        </ul>
    {% endif %}
    <a href="{% url "password_reset" %}">Forgot your password?</a>
    <p>If you don't have an account <a href="{% url "register" %}">register here</a></p>
</div>
{% endblock %}