{% extends "logmain.html" %}
{% load static %}
{% block title %}Opas Change Password{% endblock %}
{% block content %}
    <div class="container container-password">
        <div class="top">
            <div class="image-wrapper">
                <img src="{% static 'img/favi.png' %}" alt="Logo" srcset="">
            </div>
            <h2>Change your password</h2>
            <i>Use the form below to change your password.</i>
        </div>
        <form method="post">
            {% for field in form %}
                <div class="field">
                    <span class="name">{{field.label}}</span>
                    <span class="iconly-Lock icli"></span>
                    {{field}}
                </div>
            {% endfor %}
        {% csrf_token %}
        <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}
