{% extends "logmain.html" %}
{% load static %}
{% block title %}Opas Password changed{% endblock %}
{% block content %}
    <div class="container">
        <div class="top">
            <div class="image-wrapper">
                <img src="{% static 'img/favi.png' %}" alt="Logo" srcset="">
            </div>
            <h2>Password changed!</h2>
            <i>Your password has been successfully changed.</i>
        </div>
        <h3 class="help-text">You can now <a href="{% url "login" %}">Login</a> to your account</h3>
    </div>
{% endblock %}