{% extends "logmain.html" %}
{% load static %}
{% block title %}Opas Reset your password{% endblock %}
{% block content %}
    <div class="container container-password">
        <div class="top">
            <div class="image-wrapper">
                <img src="{% static 'img/favi.png' %}" alt="Logo" srcset="">
            </div>
            <h2>Forgotten your password?</h2>
            <i>Enter your email address below.</i>
        </div>
        <form method="post">
           {% for field in form %}
                <div class="field">
                    <span class="name">{{field.label}}</span>
                    <span class="iconly-Message icli"></span>
                    {{field}}
                </div>
            {% endfor %}
            {% if form.errors %}
            <ul class="errors">
                <li>Check your email address.</li>
            </ul>
        {% endif %}
        {% csrf_token %}
        <input type="submit" value="Send email">
        </form>
    </div>
{% endblock %}
