{% extends "logmain.html" %}
{% load static %}
{% block title %}Opas Reset your password{% endblock %}
{% block content %}
    <div class="container container-password">
        <div class="top">
            <div class="image-wrapper">
                <img src="{% static 'img/favi.png' %}" alt="Logo" srcset="">
            </div>
            <h2>Reset your password</h2>
            <i>Use the form below to change your password.</i>
        </div>
        {% if validlink  %}
            <form method="post">
                {% for field in form %}
                    <div class="field">
                        <span class="name">{{field.label}}</span>
                        <span class="iconly-Lock icli"></span>
                        {{field}}
                    </div>
                {% endfor %}
            {% csrf_token %}
            {% comment %} {{form.errors}} {% endcomment %}
            {% comment %} {% if form.new_password1.errors %} {% endcomment %}
            {% comment %} {{form.errors.as_ul}} {% endcomment %}
                <ul class="errors">
                    {% for err in form.new_password2.errors %}
                            <li>{{err}}</li>
                    {% endfor %}
                    {% for err in form.new_password1.errors %}
                            <li>{{err}}</li>
                    {% endfor %}
                </ul>
            {% comment %} {% endif %} {% endcomment %}
            <input type="submit" value="Submit">
            </form>
        {% else %}
            <h3 class="help-text">
                The password reset link was invalid, possibly because it has
                already been used. Please request a new password reset.
            </h3>
        {% endif %}
    </div>
{% endblock %}
