{% extends "logmain.html" %}
{% load static %}
{% block title %}Opas Reset your password{% endblock %}
{% block content %}
    <div class="container container-reset">
        <div class="top">
            <div class="image-wrapper">
                <img src="{% static 'img/favi.png' %}" alt="Logo" srcset="">
            </div>
            <h2>Reset your password</h2>
            <i>We've emailed you instructions for setting your password..</i>
        </div>
        <h3 class="help-text">
            If you don't receive an email, please make sure you've entered
            the address you registered with.
        </h3>
    </div>
{% endblock %}