{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<body style="background-image: url({% static 'img/logon.jpg' %});font-size: inherit; height: 100vh; margin: 0% 0%; padding:  0%;display: flex;flex-flow: column;align-items: center;justify-content: center;background-position: 0%;background-repeat: no-repeat;background-size: cover;background-blend-mode: color-burn;">
    <div style="background-color: #ffffffff; min-width: 500px; padding: 10px 35px 20px 35px; display: flex; flex-flow: column;align-items: center;justify-content: center;gap: 20px; border-radius: 5px;">
        <div style=" border-bottom: 1px solid #80808040; padding: 10px 0px 10px 0px; display: flex; flex-flow: column; align-items: center; gap: 5px; width: 100%;">
            <div style="width: 50px;height: 50px;">
                <img style="width: 100%;height: 100%;object-fit: contain;" src="{% static 'img/favi.png' %}" alt="Logo" srcset="">
            </div>
            <h2 style="background: linear-gradient(-45deg, #ee7752, rgb(255, 136, 0), #08b86f, #23d5ab); margin: 0%;color: #404040;">Password Reset</h2>
            <i style="color: #808080;text-align: center;">
                Someone asked for password reset for email {{ email }}. Follow the link below:
            </i>
        </div>
        <h3 style="margin: 0%;padding: 0% 5px 0% 15px;color: #ee7752;">
             {{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}
        </h3>
        <h3 style="margin: 0%;padding: 0% 5px 0% 15px;color: #ee7752;">
            Your username, in case you've forgotten: {{ user.get_username }}
        </h3>
    </div>
</body>

</html>
